<?xml version='1.0' encoding='utf-8'?>
 <!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 2.0//EN"
 "http://hibernate.sourceforge.net/hibernate-configuration-2.0.dtd">

<hibernate-configuration>

    <session-factory>		

        <!--The Rest of DB Connection properties like URL, Username etc. can be found in envProps.properties-->
		
		<property name="connection.driver_class">oracle.jdbc.driver.OracleDriver</property>
        <property name="hibernate.connection.pool_size">5</property>
        <property name="show_sql">false</property>
        <property name="dialect">net.sf.hibernate.dialect.OracleDialect</property>

		<mapping resource="com/netpace/aims/model/core/AimsContact.hbm.xml"/>
        <mapping resource="com/netpace/aims/model/core/AimsUser.hbm.xml"/>
        <mapping resource="com/netpace/aims/model/core/AimsVzwDepartment.hbm.xml"/>	
		<mapping resource="com/netpace/aims/model/core/AimsPlatform.hbm.xml"/>	
		<mapping resource="com/netpace/aims/model/core/AimsAllianc.hbm.xml"/>		
		<mapping resource="com/netpace/aims/model/core/AimsContract.hbm.xml"/>	
		<mapping resource="com/netpace/aims/model/core/AimsAllianceContract.hbm.xml"/>
		<mapping resource="com/netpace/aims/model/core/AimsCaseStudy.hbm.xml"/>
	    <mapping resource="com/netpace/aims/model/core/AimsAppPhas.hbm.xml"/>		
		<mapping resource="com/netpace/aims/model/core/AimsTempFile.hbm.xml"/>	
		<!--mapping resource="com/netpace/aims/model/core/BdsContact.hbm.xml"/-->
		<mapping resource="com/netpace/aims/model/core/AimsUserRole.hbm.xml"/>
		<mapping resource="com/netpace/aims/model/core/AimsEmailExceptionLog.hbm.xml"/>
		<mapping resource="com/netpace/aims/model/core/AimsCountries.hbm.xml"/>
		<mapping resource="com/netpace/aims/model/core/AimsTypes.hbm.xml"/>
		<mapping resource="com/netpace/aims/model/core/AimsTypeDefs.hbm.xml"/>
		<mapping resource="com/netpace/aims/model/core/AimsJMAAlliance.hbm.xml"/>
		<mapping resource="com/netpace/aims/model/core/AimsJMAAllianceFiles.hbm.xml"/>
	
        <mapping resource="com/netpace/aims/model/core/AimsUserOffer.hbm.xml"/>

        <mapping resource="com/netpace/aims/model/security/AimsSection.hbm.xml"/>        
        <mapping resource="com/netpace/aims/model/security/AimsMenu.hbm.xml"/> 
        <mapping resource="com/netpace/aims/model/security/AimsSubMenu.hbm.xml"/>        
        <mapping resource="com/netpace/aims/model/security/AimsRolePrivilege.hbm.xml"/>        
        <mapping resource="com/netpace/aims/model/security/AimsSysRole.hbm.xml"/>
        <mapping resource="com/netpace/aims/model/security/AimsSysPrivilege.hbm.xml"/>        
         <mapping resource="com/netpace/aims/model/security/AimsSystemPrivilege.hbm.xml"/>
         <mapping resource="com/netpace/aims/model/application/AimsEntAppMarketSegmentInfo.hbm.xml"/>
        

		<mapping resource="com/netpace/aims/model/message/AimsMessage.hbm.xml"/>
		<mapping resource="com/netpace/aims/model/message/AimsMessagesRecptsGrp.hbm.xml"/>
		<mapping resource="com/netpace/aims/model/message/AimsMessageAtt.hbm.xml"/>

		<mapping resource="com/netpace/aims/model/alliance/AimsAllianceIndFocus.hbm.xml"/>
		<mapping resource="com/netpace/aims/model/alliance/AimsAllianceTopIndFocus.hbm.xml"/>	
		<mapping resource="com/netpace/aims/model/alliance/AimsAllianceLinesOfBusiness.hbm.xml"/>
		<mapping resource="com/netpace/aims/model/alliance/AimsAllianceDevTech.hbm.xml"/>
		<mapping resource="com/netpace/aims/model/alliance/AimsAllianceRole.hbm.xml"/>
		<mapping resource="com/netpace/aims/model/alliance/AimsAllianceSpotlight.hbm.xml"/>
		<mapping resource="com/netpace/aims/model/alliance/AimsAllianceRegion.hbm.xml"/>
        <mapping resource="com/netpace/aims/model/alliance/AimsAlliancePlatform.hbm.xml"/>
		<mapping resource="com/netpace/aims/model/alliance/AimsAllianceWhitePaper.hbm.xml"/>
		<mapping resource="com/netpace/aims/model/alliance/AimsAllianceSalesLead.hbm.xml"/>
		<mapping resource="com/netpace/aims/model/alliance/AimsAllianceSalesLeadApps.hbm.xml"/>
		<mapping resource="com/netpace/aims/model/alliance/AimsBulletin.hbm.xml"/>
        <mapping resource="com/netpace/aims/model/alliance/AimsBulletinResources.hbm.xml"/>
        <mapping resource="com/netpace/aims/model/alliance/AimsMusicProductType.hbm.xml"/>
		<mapping resource="com/netpace/aims/model/alliance/AimsAllianceMusic.hbm.xml"/>
		<mapping resource="com/netpace/aims/model/alliance/AimsAllianceMusicProdType.hbm.xml"/>
		<mapping resource="com/netpace/aims/model/alliance/AimsAllianceCarriers.hbm.xml"/>
		<mapping resource="com/netpace/aims/model/alliance/AimsAllianceFinancing.hbm.xml"/>
		<mapping resource="com/netpace/aims/model/alliance/AimsAllianceVzwReasons.hbm.xml"/>
		<mapping resource="com/netpace/aims/model/alliance/AimsAllianceDevelopments.hbm.xml"/>

		<mapping resource="com/netpace/aims/model/masters/AimsDevic.hbm.xml"/>
		<mapping resource="com/netpace/aims/model/masters/AimsDevicePid.hbm.xml"/>
		<mapping resource="com/netpace/aims/model/masters/AimsProgrammingLang.hbm.xml"/>
		<mapping resource="com/netpace/aims/model/masters/AimsIndustryFocu.hbm.xml"/>
		<mapping resource="com/netpace/aims/model/masters/AimsSysParameter.hbm.xml"/>	
		<mapping resource="com/netpace/aims/model/masters/AimsBrowser.hbm.xml"/>	
		<mapping resource="com/netpace/aims/model/masters/AimsLinesOfBusiness.hbm.xml"/>
		<mapping resource="com/netpace/aims/model/masters/AimsAllianceLoanDevic.hbm.xml"/>
		<mapping resource="com/netpace/aims/model/masters/AimsDevTechnology.hbm.xml"/>	
		<mapping resource="com/netpace/aims/model/masters/AimsRolesOfAlliance.hbm.xml"/>
		<mapping resource="com/netpace/aims/model/masters/AimsSpotlightType.hbm.xml"/>
		<mapping resource="com/netpace/aims/model/masters/AimsRegion.hbm.xml"/>
		<mapping resource="com/netpace/aims/model/masters/AimsDevicesToLoan.hbm.xml"/>
		<mapping resource="com/netpace/aims/model/masters/AimsSysRol.hbm.xml"/>
		<mapping resource="com/netpace/aims/model/masters/AimsTaxCategoryCode.hbm.xml"/>
		<mapping resource="com/netpace/aims/model/masters/AimsCarriers.hbm.xml"/>
		<mapping resource="com/netpace/aims/model/masters/AimsFinancingOptions.hbm.xml"/>
		<mapping resource="com/netpace/aims/model/masters/AimsVzwReasons.hbm.xml"/>
		<mapping resource="com/netpace/aims/model/masters/AimsDevelopments.hbm.xml"/>
		<mapping resource="com/netpace/aims/model/masters/BdsMarketSegment.hbm.xml"/>		
		

        <mapping resource="com/netpace/aims/model/system/AimsFeatur.hbm.xml"/>
 		<mapping resource="com/netpace/aims/model/system/AimsSalesContact.hbm.xml"/>	
	    <mapping resource="com/netpace/aims/model/system/AimsEmailMessag.hbm.xml"/>
		<mapping resource="com/netpace/aims/model/system/AimsEmailGroup.hbm.xml"/>
		<mapping resource="com/netpace/aims/model/system/AimsDeck.hbm.xml"/>
		<mapping resource="com/netpace/aims/model/system/AimsDisclaimers.hbm.xml"/>
    	<mapping resource="com/netpace/aims/model/system/AimsEmailTemplatePh.hbm.xml"/>																
    	<mapping resource="com/netpace/aims/model/system/AimsDeviceFirmware.hbm.xml"/>																
    	<mapping resource="com/netpace/aims/model/system/AimsVzappFirmwareEmailLog.hbm.xml"/>																
<!-- Duplate Entry. Already in application section -->		
<!--    <mapping resource="com/netpace/aims/model/system/AimsCertification.hbm.xml"/>-->

		<mapping resource="com/netpace/aims/model/application/AimsAppLite.hbm.xml"/>	
		<mapping resource="com/netpace/aims/model/application/AimsApp.hbm.xml"/>	
		<mapping resource="com/netpace/aims/model/application/AimsAppCategory.hbm.xml"/>	
		<mapping resource="com/netpace/aims/model/application/AimsAppSubCategory.hbm.xml"/>	
		<mapping resource="com/netpace/aims/model/application/AimsLifecyclePhase.hbm.xml"/>	
		<mapping resource="com/netpace/aims/model/application/AimsProductGroup.hbm.xml"/>			
		<mapping resource="com/netpace/aims/model/application/AimsVzwTestingPhase.hbm.xml"/>	
		<mapping resource="com/netpace/aims/model/application/AimsAppPhase.hbm.xml"/>	
		<mapping resource="com/netpace/aims/model/application/AimsAppPhaseFiles.hbm.xml"/>	
		<mapping resource="com/netpace/aims/model/application/AimsCertification.hbm.xml"/>	
		<mapping resource="com/netpace/aims/model/application/AimsAppCertification.hbm.xml"/>
		<mapping resource="com/netpace/aims/model/application/AimsJournalEntry.hbm.xml"/>			
		<mapping resource="com/netpace/aims/model/application/AimsBrewApp.hbm.xml"/>	
		<mapping resource="com/netpace/aims/model/application/AimsBrewAppClob.hbm.xml"/>	
		<mapping resource="com/netpace/aims/model/application/AimsBrewAppLite.hbm.xml"/>	
		<mapping resource="com/netpace/aims/model/application/AimsBrewAppDevice.hbm.xml"/>
		<mapping resource="com/netpace/aims/model/application/AimsBrewUserGuidePdf.hbm.xml"/>
		<mapping resource="com/netpace/aims/model/application/AimsLbsGeoService.hbm.xml"/>
		<mapping resource="com/netpace/aims/model/application/AimsBrewAppGeoService.hbm.xml"/>		
		<mapping resource="com/netpace/aims/model/application/AimsBrewMessagingDetails.hbm.xml"/>
		<mapping resource="com/netpace/aims/model/application/AimsSmsApp.hbm.xml"/>	
		<mapping resource="com/netpace/aims/model/application/AimsMmsApp.hbm.xml"/>	
		<mapping resource="com/netpace/aims/model/application/AimsWapApp.hbm.xml"/>
		<mapping resource="com/netpace/aims/model/application/AimsEnterpriseApp.hbm.xml"/>	

		<mapping resource="com/netpace/aims/model/application/AimsJavaApps.hbm.xml"/>
		<mapping resource="com/netpace/aims/model/application/AimsJavaFiles.hbm.xml"/>
		<mapping resource="com/netpace/aims/model/application/AimsJavaAppClob.hbm.xml"/>		
				
		<mapping resource="com/netpace/aims/model/application/AimsEnterpriseAppLite.hbm.xml"/>	
		<mapping resource="com/netpace/aims/model/application/AimsVerticalMarket.hbm.xml"/>	
		<mapping resource="com/netpace/aims/model/application/AimsAppsCaseStudy.hbm.xml"/>
		<mapping resource="com/netpace/aims/model/application/AimsAppsCaseStudyLite.hbm.xml"/>
		<mapping resource="com/netpace/aims/model/application/AimsAppFiles.hbm.xml"/>	
		<mapping resource="com/netpace/aims/model/application/AimsBrewFiles.hbm.xml"/>	
		<mapping resource="com/netpace/aims/model/application/AimsSmsFiles.hbm.xml"/>	
		<mapping resource="com/netpace/aims/model/application/AimsMmsFiles.hbm.xml"/>	
		<mapping resource="com/netpace/aims/model/application/AimsWapFiles.hbm.xml"/>	
		<mapping resource="com/netpace/aims/model/application/AimsEnterpriseFiles.hbm.xml"/>
		<mapping resource="com/netpace/aims/model/application/AimsBrewNstlUpload.hbm.xml"/>
		<mapping resource="com/netpace/aims/model/application/AimsBrewNstlData.hbm.xml"/>
		<mapping resource="com/netpace/aims/model/application/AimsCatalog.hbm.xml"/>
		<mapping resource="com/netpace/aims/model/application/AimsCatalogsData.hbm.xml"/>
		<mapping resource="com/netpace/aims/model/application/AimsSolutionComponent.hbm.xml"/>
		<mapping resource="com/netpace/aims/model/application/AimsEntAppSolComp.hbm.xml"/>
		<mapping resource="com/netpace/aims/model/application/AimsEntAppsSubCategory.hbm.xml"/>
		<mapping resource="com/netpace/aims/model/application/AimsTempCatalogDataMatch.hbm.xml"/>
		<mapping resource="com/netpace/aims/model/application/AimsEntAppsSpotlight.hbm.xml"/>
		<mapping resource="com/netpace/aims/model/application/AimsWapAppLicenseType.hbm.xml"/>
		<mapping resource="com/netpace/aims/model/application/AimsWapLicenseType.hbm.xml"/>
		<mapping resource="com/netpace/aims/model/application/AimsWapAppsVersion.hbm.xml"/>		
		<mapping resource="com/netpace/aims/model/application/AimsVcastAudAge.hbm.xml"/>
		<mapping resource="com/netpace/aims/model/application/AimsVcastAudEducation.hbm.xml"/>
		<mapping resource="com/netpace/aims/model/application/AimsVcastAudGender.hbm.xml"/>
		<mapping resource="com/netpace/aims/model/application/AimsVcastAudIncome.hbm.xml"/>
		<mapping resource="com/netpace/aims/model/application/AimsVcastAudRace.hbm.xml"/>
		<mapping resource="com/netpace/aims/model/application/AimsVcastFrequency.hbm.xml"/>
		<mapping resource="com/netpace/aims/model/application/AimsVcastLanguage.hbm.xml"/>
		<mapping resource="com/netpace/aims/model/application/AimsVcastApp.hbm.xml"/>
		<mapping resource="com/netpace/aims/model/application/AimsVcastAppAudAge.hbm.xml"/>
		<mapping resource="com/netpace/aims/model/application/AimsVcastAppAudEducation.hbm.xml"/>
		<mapping resource="com/netpace/aims/model/application/AimsVcastAppAudGender.hbm.xml"/>
		<mapping resource="com/netpace/aims/model/application/AimsVcastAppAudIncome.hbm.xml"/>
		<mapping resource="com/netpace/aims/model/application/AimsVcastAppAudRace.hbm.xml"/>
		<mapping resource="com/netpace/aims/model/application/AimsVcastFiles.hbm.xml"/>	
		<mapping resource="com/netpace/aims/model/application/AimsScmProdCat.hbm.xml"/>
		<mapping resource="com/netpace/aims/model/application/AimsScmProdCatPricing.hbm.xml"/>
		<mapping resource="com/netpace/aims/model/application/AimsLbsAutodeskPhase.hbm.xml"/>
		<mapping resource="com/netpace/aims/model/application/AimsVZAppZoneApp.hbm.xml"/>
		<mapping resource="com/netpace/aims/model/application/AimsVZAppZoneFiles.hbm.xml"/>

		<mapping resource="com/netpace/aims/model/application/AimsVZAppBinaries.hbm.xml"/>
		<mapping resource="com/netpace/aims/model/application/AimsVZAppBinariesFiles.hbm.xml"/>
		<mapping resource="com/netpace/aims/model/application/AimsVZAppBinaryFirmware.hbm.xml"/>
		<mapping resource="com/netpace/aims/model/application/AimsVZAppBinaryFirmwareFiles.hbm.xml"/>
		<mapping resource="com/netpace/aims/model/application/AimsVzappIntertekWsLog.hbm.xml"/>
		<mapping resource="com/netpace/aims/model/application/AimsVZAppMPortalXMLLog.hbm.xml"/>

        <mapping resource="com/netpace/aims/model/application/AimsAppNetworkUrls.hbm.xml"/>

		<mapping resource="com/netpace/aims/model/application/AimsBrewAppsHistory.hbm.xml"/>
		<mapping resource="com/netpace/aims/model/application/AimsVzappFirmwarePaidLog.hbm.xml"/>

		<mapping resource="com/netpace/aims/model/application/AimsDashboardApps.hbm.xml"/>
		<mapping resource="com/netpace/aims/model/application/AimsDashboardAppsDevices.hbm.xml"/>		
		<mapping resource="com/netpace/aims/model/application/AimsDashboardFiles.hbm.xml"/>		
		<mapping resource="com/netpace/aims/model/application/AimsDashboardEmailToAdobe.hbm.xml"/>		
		<mapping resource="com/netpace/aims/model/application/AimsDashboardFtpsLog.hbm.xml"/>		
		<mapping resource="com/netpace/aims/model/application/AimsDashboardChannelIds.hbm.xml"/>		
		<mapping resource="com/netpace/aims/model/application/AimsDashboardAppClob.hbm.xml"/>
		<mapping resource="com/netpace/aims/model/application/AimsEntAppProductInfo.hbm.xml"/>		
		<mapping resource="com/netpace/aims/model/application/AimsJmaSalesLead.hbm.xml"/>		
		
		
        <mapping resource="com/netpace/aims/model/content/AimsFaqTopic.hbm.xml"/>
		<mapping resource="com/netpace/aims/model/content/AimsFaqCategory.hbm.xml"/>
		<mapping resource="com/netpace/aims/model/content/AimsTopic.hbm.xml"/>		
        <mapping resource="com/netpace/aims/model/content/AimsMiscImage.hbm.xml"/>	

	 		
		<mapping resource="com/netpace/aims/model/tools/AimsTool.hbm.xml"/>
		<mapping resource="com/netpace/aims/model/tools/AimsToolFiles.hbm.xml"/>
		<mapping resource="com/netpace/aims/model/tools/AimsToolContract.hbm.xml"/>	
		<mapping resource="com/netpace/aims/model/tools/AimsToolCatMaster.hbm.xml"/>
		<mapping resource="com/netpace/aims/model/tools/AimsToolCategory.hbm.xml"/>
		<mapping resource="com/netpace/aims/model/tools/AimsToolFetchXlsLog.hbm.xml"/>

		<mapping resource="com/netpace/aims/model/contracts/AimsAmendment.hbm.xml"/>
		<mapping resource="com/netpace/aims/model/contracts/AimsContractAmendment.hbm.xml"/>
		<mapping resource="com/netpace/aims/model/contracts/AimsAllianceContractAmendment.hbm.xml"/>
		
		
        <mapping resource="com/netpace/aims/model/reports/AimsReportObject.hbm.xml"/>		
		<mapping resource="com/netpace/aims/model/reports/AimsReportObjectColumn.hbm.xml"/>		

		<mapping resource="com/netpace/aims/model/events/AimsEventLite.hbm.xml"/>
		<mapping resource="com/netpace/aims/model/events/AimsEventHandler.hbm.xml"/>
		<mapping resource="com/netpace/aims/model/events/AimsEventNotificationLite.hbm.xml"/>
		<mapping resource="com/netpace/aims/model/events/AimsPlaceHolder.hbm.xml"/>
		<mapping resource="com/netpace/aims/model/events/AimsNotifAdHocRecipients.hbm.xml"/>
		<mapping resource="com/netpace/aims/model/events/AimsNotificationRole.hbm.xml"/>
		<mapping resource="com/netpace/aims/model/events/AimsNotifOptInRecipients.hbm.xml"/>
		<mapping resource="com/netpace/aims/model/events/AimsNotifOptInRecipientsLite.hbm.xml"/>
		<mapping resource="com/netpace/aims/model/events/AimsNotificationRoleLite.hbm.xml"/>
		<mapping resource="com/netpace/aims/model/events/AimsNotifAdHocRecipientsLite.hbm.xml"/>
		<mapping resource="com/netpace/aims/model/events/AimsEmailMessagesAtt.hbm.xml"/>

		<mapping resource="com/netpace/aims/model/newmarketing/AimsCreativeContent.hbm.xml"/>
		<mapping resource="com/netpace/aims/model/newmarketing/AimsCreativeContentFiles.hbm.xml"/>
		<mapping resource="com/netpace/aims/model/newmarketing/AimsCreativeCrequest.hbm.xml"/>
		<mapping resource="com/netpace/aims/model/newmarketing/AimsCreativeCreqFil.hbm.xml"/>
		<mapping resource="com/netpace/aims/model/newmarketing/AimsContentReqCnt.hbm.xml"/>
		<mapping resource="com/netpace/aims/model/newmarketing/AimsContentReqApp.hbm.xml"/>
		
		<mapping resource="com/netpace/aims/model/rest/AimsRestUsers.hbm.xml"/>
		<mapping resource="com/netpace/aims/model/rest/AimsRestModules.hbm.xml"/>
		<mapping resource="com/netpace/aims/model/rest/AimsRestModuleUsers.hbm.xml"/>
		<mapping resource="com/netpace/aims/model/rest/AimsRestUrlLog.hbm.xml"/>
		<mapping resource="com/netpace/aims/model/application/AimsWapFtpLog.hbm.xml"/>
		
		<mapping resource="com/netpace/aims/model/homepage/AimsConferences.hbm.xml" />
		<mapping resource="com/netpace/aims/model/homepage/AimsTopTenGames.hbm.xml" />

		<mapping resource="com/netpace/aims/model/logincontent/AimsLoginContent.hbm.xml" />
		
		<mapping resource="com/netpace/aims/model/resource/AimsResource.hbm.xml"/>

		<mapping resource="com/netpace/aims/model/wapoptout/AimsWapOptout.hbm.xml" />
		<mapping resource="com/netpace/aims/model/wapoptout/AimsWapOptoutUrls.hbm.xml" />
		<mapping resource="com/netpace/aims/model/wapoptout/AimsWapOptoutFtpLog.hbm.xml" />
		<mapping resource="com/netpace/aims/model/wapoptout/AimsWapOptoutWhitelistUrl.hbm.xml" />
		<mapping resource="com/netpace/aims/model/wapoptout/AimsWapOptoutFileLog.hbm.xml" />

		<mapping resource="com/netpace/aims/model/workflow/AimsModuleWorkflows.hbm.xml"/>
		<mapping resource="com/netpace/aims/model/workflow/AimsWorkflowDetails.hbm.xml"/>
		<mapping resource="com/netpace/aims/model/workflow/AimsWorkitem.hbm.xml"/>
		<mapping resource="com/netpace/aims/model/workflow/OsCurrentstep.hbm.xml"/>
		<mapping resource="com/netpace/aims/model/workflow/OsHistorystep.hbm.xml"/>
		<mapping resource="com/netpace/aims/model/workflow/OsWfentry.hbm.xml"/>

	</session-factory>

</hibernate-configuration>
