<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd">

	<!--  
		This is an applicationContext and Spring Inversion of Control (IOC) file. 
		
		All serivce objects must be defined.
		
		As can be see while in definding the bean named 'userService', a userDao object is injected into it
		by the spring. These dao objects are defined in another application context file called
		applicationContext-dao.xml.	
	-->

	<bean id="userService" class="com.netpace.vzdn.service.impl.UsersServiceImpl" scope="prototype">
		<property name="usersDao" ref="userDao" />
		<property name="rolesDao" ref="roleDao" />
		<property name="newsLetterOptoutDao" ref="newsLetterOptoutDao" />
		
	</bean>
	
	<bean id="userMgmtService" class="com.netpace.vzdn.service.impl.UserMgmtServiceImpl" scope="prototype">
		<property name="usersDao" ref="userDao" />
	</bean>
	
	<bean id="roleService" class="com.netpace.vzdn.service.impl.SysRoleServiceImpl" scope="prototype">
		<property name="roleDao" ref="roleDao" />
	</bean>
	
	<bean id="notificationService" class="com.netpace.vzdn.service.impl.NotificationServiceImpl" scope="prototype">
		<property name="notificationsDao" ref="notificationsDao" />
		<property name="roleDao" ref="roleDao" />		
		<property name="eventsDao" ref="eventsDao" />
		<property name="messagesDao" ref="messagesDao" />
	</bean>
	

	<bean id="eventService" class="com.netpace.vzdn.service.impl.EventsServiceImpl" scope="prototype">		
		<property name="eventsDao" ref="eventsDao" />		
	</bean>


	<bean id="palceHodlerService" class="com.netpace.vzdn.service.impl.PlaceHolderServiceImpl" scope="prototype">		
		<property name="placeHolderDao" ref="placeHolderDao" />		
	</bean>
	
	<bean id="emailMessagesService" class="com.netpace.vzdn.service.impl.EmailMessagesServiceImpl" scope="prototype">		
		<property name="messagesDao" ref="messagesDao" />		
	</bean>

	<bean id="typesService" class="com.netpace.vzdn.service.impl.TypeServiceImpl" scope="prototype">
		<property name="typesDao" ref="typesDao" />
	</bean>
	
	<bean id="deviceAnyWhereService" class="com.netpace.vzdn.service.impl.DeviceAnyWhereServiceImpl" scope="prototype">
		<property name="deviceAnyWhereDao" ref="deviceAnyWhereDao" />
	</bean>	
	
	<bean id="newsLetterService" class="com.netpace.vzdn.service.impl.NewsLetterServiceImpl" scope="prototype">
		<property name="newsLetterDao" ref="newsLetterDao" />
	</bean>
	
	<bean id="reportsService" class="com.netpace.vzdn.service.impl.ReportsService" scope="prototype">
		<property name="reportsDao" ref="reportsDao" />
	</bean>
		
</beans>