<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd">

	<!--  
		This is an applicationContext and Spring Inversion of Control (IOC) file. All actions objects must be
		defined here and their scope set to proptotype so that every time a request is received, a new action
		object is generated as struts2 recommends.
		
		As can be see while in definding the bean named 'loginAction', a userService object is injected into it
		by the spring. These userService objects are defined in another application context file called
		applicationContext-service.xml.	
	-->
	
	<bean id="searchUsersAction" class="com.netpace.vzdn.webapp.actions.SearchUsersAction" scope="prototype">
		<property name="userService" ref="userService" />		
		<property name="typesService" ref="typesService" />
	</bean>

	
	<bean id="homeAction" class="com.netpace.vzdn.webapp.actions.HomeAction" scope="prototype"/>
	
	<bean id="logoutAction" class="com.netpace.vzdn.webapp.actions.LogoutAction" scope="prototype"/>
	
	
	<bean id="loginAction" class="com.netpace.vzdn.webapp.actions.LoginAction" scope="prototype">
		<property name="userService" ref="userService" />
		<property name="roleService" ref="roleService" />
		<property name="typesService" ref="typesService" />
	</bean>
	
	<bean id="userMgmtAction" class="com.netpace.vzdn.webapp.actions.UserMgmtAction" scope="prototype">
		<property name="userMgmtService" ref="userMgmtService" />
		<property name="roleService" ref="roleService" />
		<property name="userService" ref="userService" />
		<property name="typesService" ref="typesService" />
	</bean>
	
	
	<bean id="editUserAction" class="com.netpace.vzdn.webapp.actions.EditUserAction" scope="prototype">
		<property name="userMgmtService" ref="userMgmtService" />
		<property name="roleService" ref="roleService" />
		<property name="userService" ref="userService" />
		<property name="typesService" ref="typesService" />
	</bean>


	<bean id="editSaveUserAction" class="com.netpace.vzdn.webapp.actions.EditSaveUserAction" scope="prototype">
		<property name="userMgmtService" ref="userMgmtService" />
		<property name="roleService" ref="roleService" />
		<property name="userService" ref="userService" />
		<property name="typesService" ref="typesService" />
	</bean>



	<bean id="changeUserTypeAction" class="com.netpace.vzdn.webapp.actions.ChangeUserTypeAction" scope="prototype">
		<property name="userMgmtService" ref="userMgmtService" />
		<property name="roleService" ref="roleService" />
		<property name="userService" ref="userService" />
		<property name="typesService" ref="typesService" />
	</bean>
	
	
	
	
	<bean id="searchNotificationAction" class="com.netpace.vzdn.webapp.actions.SearchNotificationsAction" scope="prototype">
		<property name="notificationService" ref="notificationService" />
		<property name="eventService" ref="eventService" />
		<property name="emailMessagesService" ref="emailMessagesService" />
				
	</bean>
			
	<bean id="addNotificationAction" class="com.netpace.vzdn.webapp.actions.AddNotificationAction" scope="prototype">
		<property name="notificationService" ref="notificationService" />		
		<property name="eventService" ref="eventService" />
		<property name="palceHodlerService" ref="palceHodlerService" />		
		<property name="roleService" ref="roleService" />		
	</bean>
	
	<bean id="addSaveNotificationAction" class="com.netpace.vzdn.webapp.actions.AddSaveNotificationAction" scope="prototype">
		<property name="notificationService" ref="notificationService" />		
		<property name="eventService" ref="eventService" />
		<property name="palceHodlerService" ref="palceHodlerService" />		
		<property name="roleService" ref="roleService" />		
	</bean>

	<bean id="editNotificationAction" class="com.netpace.vzdn.webapp.actions.EditNotificationAction" scope="prototype">
		<property name="notificationService" ref="notificationService" />		
		<property name="eventService" ref="eventService" />
		<property name="palceHodlerService" ref="palceHodlerService" />		
		<property name="roleService" ref="roleService" />		
		<property name="emailMessagesService" ref="emailMessagesService" />
	</bean>
	
	
	<bean id="editSaveNotificationAction" class="com.netpace.vzdn.webapp.actions.EditSaveNotificationAction" scope="prototype">
		<property name="notificationService" ref="notificationService" />		
		<property name="eventService" ref="eventService" />
		<property name="palceHodlerService" ref="palceHodlerService" />		
		<property name="roleService" ref="roleService" />		
		<property name="emailMessagesService" ref="emailMessagesService" />
	</bean>
	
	
	<bean id="deleteNotificationAction" class="com.netpace.vzdn.webapp.actions.DeleteNotificationAction" scope="prototype">
		<property name="notificationService" ref="notificationService" />		
		<property name="eventService" ref="eventService" />
		<property name="palceHodlerService" ref="palceHodlerService" />		
		<property name="roleService" ref="roleService" />	
		
	</bean>
	
	<bean id="removeAttachmentAction" class="com.netpace.vzdn.webapp.actions.RemoveAttachmentAction" scope="prototype">
		<property name="notificationService" ref="notificationService" />
		<property name="emailMessagesService" ref="emailMessagesService" />
	</bean>
	
	<bean id="myNotificationsAction" class="com.netpace.vzdn.webapp.actions.MyNotificationsAction" scope="prototype">	
		<property name="usersService" ref="userService" />		
		<property name="eventService" ref="eventService" />
	</bean>
	
	<bean id="saveMyNotificationsAction" class="com.netpace.vzdn.webapp.actions.SaveMyNotificationsAction" scope="prototype">
		<property name="usersService" ref="userService" />
		<property name="notificationService" ref="notificationService" />
		<property name="eventService" ref="eventService" />		
	</bean>
		
	<bean id="deviceAnyWhereAction" class="com.netpace.vzdn.webapp.actions.DeviceAnyWhereAction" scope="prototype">
		<property name="deviceAnyWhereService" ref="deviceAnyWhereService" />
	
	</bean>
	
	<bean id="downloadFile" class="com.netpace.vzdn.webapp.actions.DownloadFileAction" scope="prototype">
		<property name="emailMessagesService" ref="emailMessagesService" />				
	</bean>
	
	<bean id="raiseEvent" class="com.netpace.vzdn.webapp.actions.TestNotificationAction" scope="prototype"/>
	
	<bean id="newsLetter" class="com.netpace.vzdn.webapp.actions.ComposeNewsLetterAction" scope="prototype">
		<property name="newsLetterService" ref="newsLetterService"/>
	</bean>
	
	<bean id="uploadAttachmentFile" class="com.netpace.vzdn.webapp.actions.UploadAttachmentFileAction" scope="prototype"/>	
	
	<bean id="uploadCSVFile" class="com.netpace.vzdn.webapp.actions.UploadCSVFileAction" scope="prototype"/>
	
	<bean id="attachmentDownload" class="com.netpace.vzdn.webapp.actions.AttachmentDownloadAction" scope="prototype" />			
	
	<bean id="attachmentRemove" class="com.netpace.vzdn.webapp.actions.AttachmentRemoveAction" scope="prototype" />
	
	<bean id="reportsAction" class="com.netpace.vzdn.webapp.actions.ReportsAction" scope="prototype">
		<property name="reportsService" ref="reportsService" />
		<property name="roleService" ref="roleService" />
	</bean>
	
	<bean id="userReportAction" class="com.netpace.vzdn.webapp.actions.UserReportsAction" scope="prototype">
		<property name="reportsService" ref="reportsService" />
		<property name="roleService" ref="roleService" />
	</bean>
	
	<bean id="ldapUsersReportAction" class="com.netpace.vzdn.webapp.actions.LdapUsersReportAction" scope="prototype" />
	
	<bean id="loadLdapUsersReportAction" class="com.netpace.vzdn.webapp.actions.LoadLdapUsersReportAction" scope="prototype"/>
	
</beans>