A:link {
	COLOR: #06c
}
A:visited {
	COLOR: #636
}
A.boldLink:link {
	FONT-WEIGHT: bold; COLOR: #06c
}
A.boldLink:visited {
	FONT-WEIGHT: bold; COLOR: #636
}
A.smallLink:link {
	FONT-SIZE: 0.9em; COLOR: #06c
}
A.smallLink:visited {
	FONT-SIZE: 0.9em; COLOR: #636
}
A.smallBoldLink:link {
	FONT-WEIGHT: bold; FONT-SIZE: 0.9em; COLOR: #06c
}
A.smallBoldLink:visited {
	FONT-WEIGHT: bold; FONT-SIZE: 0.9em; COLOR: #636
}
A.actionLink {
	PADDING-LEFT: 15px! important; FONT-WEIGHT: bold; BACKGROUND: url(../images/arrow_button.gif) no-repeat 0px 4px
}
A.backToLink {
	PADDING-LEFT: 20px! important; FONT-WEIGHT: bold; BACKGROUND: url(../images/back_arrow.jpg) no-repeat; PADDING-BOTTOM: 2px
}
A.noUnderlineLink {
	TEXT-DECORATION: none
}
A.questionLink {
	PADDING-RIGHT: 12px; BACKGROUND: url(../images/questionmark.gif) no-repeat 100% 50%
}
A.backArrowLink:visited {
	COLOR: #636
}
A.backLink {
	PADDING-LEFT: 15px; FONT-WEIGHT: bold; BACKGROUND: url(../images/arrow_l.gif) no-repeat
}
 HTML A.backLink {
	BACKGROUND-IMAGE: url(../images/arrow_l.gif)
}
.promoHeadline A {
	COLOR: #f00
}
.promoHeadline A:visited {
	COLOR: #f00
}
A.starPromoLink {
	PADDING-LEFT: 17px; FONT-WEIGHT: bold; BACKGROUND: url(../images/star_promo.gif) no-repeat; FLOAT: left; COLOR: #f00
}
A.starPromoLink:visited {
	PADDING-LEFT: 17px; FONT-WEIGHT: bold; BACKGROUND: url(../images/star_promo.gif) no-repeat; FLOAT: left; COLOR: #f00
}
A.backDblArrow {
	PADDING-LEFT: 15px; BACKGROUND: url(../images/dblarrow.gif) no-repeat 0% 50%
}
.titleLinks {
	FONT-WEIGHT: normal; FLOAT: right; PADDING-TOP: 7px
}
.titleLinks A {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; PADDING-BOTTOM: 0px; PADDING-TOP: 0px
}
A.standardLinkBold:link {
	FONT-WEIGHT: bold; COLOR: #06c
}
A.standardLinkBold:visited {
	FONT-WEIGHT: bold; COLOR: #636
}
A.actionableArrowLink {
	PADDING-LEFT: 15px! important; FONT-WEIGHT: bold; BACKGROUND: url(../images/arrow_button.gif) no-repeat 0px 4px
}
 HTML A.actionableArrowLink {
	PADDING-LEFT: 15px! important; FONT-WEIGHT: bold; BACKGROUND: url(../images/arrow_button.gif) no-repeat 0px 4px
}
.actionableItem A {
	FONT-WEIGHT: bold
}
.actionableItem A:visited {
	FONT-WEIGHT: bold
}
A.backArrowLink {
	PADDING-LEFT: 15px; FONT-WEIGHT: bold; BACKGROUND: url(../images/arrow_back_r.gif) no-repeat; FLOAT: left; COLOR: #06c
}
A.backArrowLink:visited {
	PADDING-LEFT: 15px; FONT-WEIGHT: bold; BACKGROUND: url(../images/arrow_back_r.gif) no-repeat; FLOAT: left; COLOR: #06c
}
A.backArrowLink:visited {
	COLOR: #636
}
 {
	FONT-FAMILY: arial, sans-serif
}
.bodyText {
	FONT-SIZE: 1em; LINE-HEIGHT: 15px
}
.bodySmallText {
	FONT-SIZE: 0.9em; LINE-HEIGHT: 13px
}
.boldText {
	FONT-WEIGHT: bold
}
.italicText {
	FONT-STYLE: italic
}
.pageTitle {
	FONT-SIZE: 1.7em
}
.pageSubTitle {
	FONT-SIZE: 1.6em
}
.paragraphHeading {
	FONT-WEIGHT: bold; FONT-SIZE: 1em; LINE-HEIGHT: 15px
}
H1 {
	MARGIN: 0px
}
H2 {
	MARGIN: 0px
}
H3 {
	MARGIN: 0px
}
H4 {
	MARGIN: 0px
}
H5 {
	MARGIN: 0px
}
H6 {
	MARGIN: 0px
}
H2 {
	FONT-WEIGHT: bold; FONT-SIZE: 1.2em; COLOR: #000; FONT-FAMILY: arial
}
.sectionHeadline {
	FONT-WEIGHT: bold; FONT-SIZE: 1.2em; COLOR: #000; FONT-FAMILY: arial
}
H1 {
	FONT-WEIGHT: bold; FONT-SIZE: 1.8em; COLOR: #000; FONT-FAMILY: arial
}
.pageHead {
	BACKGROUND: #fff; padding-top:13px; padding-bottom:2px; padding-left:10px; margin-right:10px; /*width:961px;*/
}
.pageHeading {
	FONT-WEIGHT: bold; FONT-SIZE: 1.8em; COLOR: #000; FONT-FAMILY: arial; 
}
.pageTitleImg {
	PADDING-RIGHT: 10px; BORDER-TOP: #f30000 1px solid; PADDING-LEFT: 10px; BACKGROUND: url(../images/page_titlebar_grad.gif) repeat-x; PADDING-BOTTOM: 0px; MARGIN: 0px; WIDTH: 540px; PADDING-TOP: 0px; HEIGHT: 30px
}
.pageTitleImg H2 {
	PADDING-TOP: 5px
}
.pageHeadline SUP {
	FONT-WEIGHT: normal; FONT-SIZE: 0.5em
}
.primaryHeadline {
	FONT-WEIGHT: bold; FONT-SIZE: 1.2em; COLOR: #000
}
.pageTitleImg .pageHeadline {
	FLOAT: left; COLOR: #fff
}
.pageTitleImg .pageHeadlineReduced {
	FONT-WEIGHT: bold; FONT-SIZE: 1.6em; FLOAT: left; COLOR: #fff; PADDING-TOP: 2px; FONT-FAMILY: arial
}
.pageTitleImg .primaryHeadline {
	COLOR: #fff
}
.sideBarHeadline {
	FONT-WEIGHT: bold; FONT-SIZE: 1.2em; COLOR: #333
}
.sidebarHeadline {
	FONT-WEIGHT: bold; FONT-SIZE: 1.2em; COLOR: #333
}
H3 {
	FONT-WEIGHT: bold; FONT-SIZE: 1.1em; COLOR: #333
}
.secondaryHeadline1 {
	FONT-WEIGHT: bold; FONT-SIZE: 1.1em; COLOR: #333
}
.secondaryHeadline2 {
	FONT-WEIGHT: bold; FONT-SIZE: 1.1em; COLOR: #000
}
.tertiaryHeadline1 {
	FONT-WEIGHT: bold; FONT-SIZE: 1em; COLOR: #333
}
.tertiaryHeadline2 {
	FONT-WEIGHT: bold; FONT-SIZE: 1em; COLOR: #000
}
.wayfindingItem1 {
	FONT-WEIGHT: bold; FONT-SIZE: 1.1em; COLOR: #f00
}
.wayfindingItem2 {
	FONT-WEIGHT: bold; FONT-SIZE: 1.1em; COLOR: #666
}
.legalDisclaimerText {
	FONT-WEIGHT: normal; FONT-SIZE: 0.9em! important; COLOR: #666
}
.disclaimerText {
	FONT-WEIGHT: normal; FONT-SIZE: 0.9em; COLOR: #333
}
.disclaimerTextBoxHeadline {
	FONT-WEIGHT: bold; FONT-SIZE: 1.1em; MARGIN-BOTTOM: 10px; COLOR: #000
}
.planMinutes {
	FONT-WEIGHT: bold; FONT-SIZE: 1.3em; COLOR: #06c; WHITE-SPACE: nowrap
}
.introPlanMinutes {
	FONT-WEIGHT: bold; FONT-SIZE: 1.3em; COLOR: #f00
}
.promoHeadline {
	FONT-WEIGHT: bold; FONT-SIZE: 1.2em; COLOR: #f00
}
.instructionalText {
	FONT-WEIGHT: bold; FONT-SIZE: 1.2em; COLOR: #f00
}
.promoTeaserHeadline {
	FONT-WEIGHT: bold; FONT-SIZE: 1.1em; COLOR: #f00
}
.promoText {
	FONT-WEIGHT: bold; FONT-SIZE: 1em; COLOR: #f00
}
.promo1 {
	FONT-WEIGHT: bold; FONT-SIZE: 1.3em; COLOR: #333
}
.promo2 {
	FONT-WEIGHT: bold; FONT-SIZE: 1.3em; COLOR: #000
}
.prices {
	FONT-WEIGHT: bold; FONT-SIZE: 1em; COLOR: #f00
}
.largePrices {
	FONT-WEIGHT: bold; FONT-SIZE: 1.1em; COLOR: #f00
}
.youAreHere {
	FONT-WEIGHT: bold; FONT-SIZE: 1em; COLOR: #006
}
.errorText {
	BORDER-RIGHT: #f00 1px solid; PADDING-RIGHT: 10px; BORDER-TOP: #f00 1px solid; PADDING-LEFT: 10px; FONT-WEIGHT: normal; FONT-SIZE: 1em; PADDING-BOTTOM: 10px; BORDER-LEFT: #f00 1px solid; COLOR: #f00; PADDING-TOP: 10px; BORDER-BOTTOM: #f00 1px solid
}
.required {
	FONT-WEIGHT: normal; FONT-SIZE: 1em; COLOR: #f00
}
.requiredText {
	FONT-WEIGHT: normal; FONT-SIZE: 1em; COLOR: #f00; PADDING-RIGHT: 3px
}
.zipCodeText {
	FONT-WEIGHT: normal; FONT-SIZE: 1em; COLOR: #000
}
.headerBar {
	FONT-WEIGHT: normal; FONT-SIZE: 1em; COLOR: #000
}
.subheadBar {
	FONT-WEIGHT: normal; FONT-SIZE: 1em; COLOR: #333
}
.contentBar {
	FONT-WEIGHT: normal; FONT-SIZE: 1em; COLOR: #000
}
.actionableItem {
	PADDING-LEFT: 15px! important; BACKGROUND: url(../images/arrow_r.gif) no-repeat
}
.normal {
	FONT: 1em arial, sans-serif
}
#sectionSidebar LI {
	FONT-SIZE: 1.1em
}
.whiteText {
	FONT-WEIGHT: bold; FONT-SIZE: 0.9em; COLOR: #fff
}
.whiteTextSmall {
	FONT-SIZE: 0.9em; COLOR: #fff
}
.rebateText {
	FONT-WEIGHT: bold; FONT-SIZE: 0.9em; COLOR: #f30
}
.sectext4 {
	FONT-SIZE: 0.9em; COLOR: #666
}
.pfphone {
	FONT-WEIGHT: bold; FONT-SIZE: 0.9em; COLOR: #00008b
}
.indent {
	MARGIN-LEFT: 1em
}
.nowrap {
	WHITE-SPACE: nowrap
}
.underline {
	TEXT-DECORATION: underline
}
.right {
	PADDING-RIGHT: 15px; FLOAT: right
}
.smallText {
	font-size: 11px;	 
}
.grayText {
	color: #666;	 
}