#homepageContainer {
	BACKGROUND: #fff; WIDTH: 990px;
}
#homepageContainer DIV.pad {
	PADDING-RIGHT: 10px; PADDING-LEFT: 10px; PADDING-BOTTOM: 0px; PADDING-TOP: 10px; /*width:970px;*/
}
.padFooter {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 20px; PADDING-TOP: 30px;
}
#homeFixer {
	CLEAR: both; BACKGROUND: none transparent scroll repeat 0% 0%; OVERFLOW: hidden; WIDTH: 970px; HEIGHT: 30px
}
#marquee {
	WIDTH: 990px; POSITION: relative;
}
#marqueeFlash {
	WIDTH: 970px; HEIGHT: 250px
}
#marqueeFlashContent {
	Z-INDEX: 2; WIDTH: 970px;
}
DIV.homeColumn {
	FLOAT: left;
}
DIV.homeColumn H1 {
	/*PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BACKGROUND: url(../images/login_header_bg_tile.gif) #000000 repeat-x; FLOAT: left; PADDING-BOTTOM: 0px; MARGIN: 0px; FONT: bold 12px arial,sans-serif; height:18px; COLOR: #fff; PADDING-TOP: 3px*/
    PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BACKGROUND: url(../images/login_header_bg_tile.gif) #000000 repeat-x; FLOAT: left; PADDING-BOTTOM: 3px; MARGIN: 0px; FONT: bold 12px arial,sans-serif; COLOR: #fff; PADDING-TOP: 3px; line-height:15px;
}
DIV.homeColumn DIV.box {
	CLEAR: left; PADDING-RIGHT: 10px; PADDING-LEFT: 10px; BACKGROUND: url(../images/bkgd_gradient_slice.jpg) #fff repeat-x; PADDING-BOTTOM: 0px; FONT: 1em arial,sans-serif; PADDING-TOP: 7px; HEIGHT: 100%
}
DIV.homeColumn DIV.loginbox {
	CLEAR: left; PADDING-RIGHT: 10px; PADDING-LEFT: 10px; BACKGROUND: url(../images/bkgd_gradient_slice.jpg) #fff repeat-x; PADDING-BOTTOM: 0px; FONT: 11px arial,sans-serif; PADDING-TOP: 7px; HEIGHT: 100%; border:solid 1px #CCCCCC;
}
DIV.homeColumn DIV.loginbox td {
	FONT: 11px arial,sans-serif;
}

DIV.homeColumn DIV.contentbox {
	CLEAR: left; PADDING-RIGHT: 10px; PADDING-LEFT: 10px; BACKGROUND: url(../images/bkgd_gradient_slice.jpg) #fff repeat-x; PADDING-BOTTOM: 10px; FONT: 1em arial,sans-serif; PADDING-TOP: 7px; HEIGHT: 100%; border:none #CCCCCC;
}
DIV.homeColumn DIV.box UL {
	PADDING-RIGHT: 0px; DISPLAY: block; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; LIST-STYLE-TYPE: none
}
DIV.homeColumn DIV.box UL LI {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 3px; MARGIN: 0px; PADDING-TOP: 0px
}
DIV.homeColumn DIV.box DIV.iconLine {
	MARGIN: 10px 0px 4px; OVERFLOW: hidden; HEIGHT: 20px
}
DIV.homeColumn DIV.box DIV.iconLine IMG {
	FLOAT: left; WIDTH: 30px; HEIGHT: 20px
}
DIV.homeColumn DIV.box DIV.iconLine DIV {
	BORDER-TOP: #ccc 1px solid; MARGIN-TOP: 10px; FLOAT: left; WIDTH: 117px
}
DIV.homeColumn DIV.box P {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 7px; MARGIN: 0px; PADDING-TOP: 0px
}

DIV.homeColumnGrid {
	FLOAT: left;
}
DIV.homeColumnGrid H1 {
	/*PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BACKGROUND: url(../images/login_header_bg_tile.gif) #000000 repeat-x; FLOAT: left; PADDING-BOTTOM: 0px; MARGIN: 0px; FONT: bold 12px arial,sans-serif; height:18px; COLOR: #fff; PADDING-TOP: 3px*/
    PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BACKGROUND: url(../images/login_header_bg_tile.gif) #000000 repeat-x; FLOAT: left; PADDING-BOTTOM: 3px; MARGIN: 0px; FONT: bold 12px arial,sans-serif; COLOR: #fff; PADDING-TOP: 3px
}
DIV.homeColumnGrid DIV.box {
	CLEAR: left; PADDING-RIGHT: 10px; PADDING-LEFT: 10px; BACKGROUND: url(../images/bkgd_gradient_slice.jpg) #fff repeat-x; PADDING-BOTTOM: 0px; FONT: 11px arial,sans-serif; PADDING-TOP: 7px; HEIGHT: 100%
}
DIV.homeColumnGrid DIV.loginbox {
	CLEAR: left; PADDING-RIGHT: 10px; PADDING-LEFT: 10px; BACKGROUND: url(../images/bkgd_gradient_slice.jpg) #fff repeat-x; PADDING-BOTTOM: 0px; FONT: 11px arial,sans-serif; PADDING-TOP: 7px; HEIGHT: 100%; border:solid 1px #CCCCCC;
}
DIV.homeColumnGrid DIV.contentbox {
	CLEAR: left; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BACKGROUND: url(../images/bkgd_gradient_slice.jpg) #fff repeat-x; PADDING-BOTTOM: 0px; FONT: 11px arial,sans-serif; PADDING-TOP: px; HEIGHT: 100%; border:solid 0px #CCCCCC;
}
DIV.homeColumnGrid DIV.box UL {
	PADDING-RIGHT: 0px; DISPLAY: block; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; LIST-STYLE-TYPE: none
}
DIV.homeColumnGrid DIV.box UL LI {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 3px; MARGIN: 0px; PADDING-TOP: 0px
}
DIV.homeColumnGrid DIV.box DIV.iconLine {
	MARGIN: 10px 0px 4px; OVERFLOW: hidden; HEIGHT: 20px
}
DIV.homeColumnGrid DIV.box DIV.iconLine IMG {
	FLOAT: left; WIDTH: 30px; HEIGHT: 20px
}
DIV.homeColumnGrid DIV.box DIV.iconLine DIV {
	BORDER-TOP: #ccc 1px solid; MARGIN-TOP: 10px; FLOAT: left; WIDTH: 117px
}
DIV.homeColumnGrid DIV.box P {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 7px; MARGIN: 0px; PADDING-TOP: 0px
}
DIV.homeColumnGrid Table {border: 1px solid #CCCCCC; border-collapse:collapse;
}
DIV.homeColumnGrid TH {background-color:#F0F0F0; FONT: bold 12px arial,sans-serif; color:#000000;
}
DIV.homeColumnGrid TH a {FONT: bold 12px arial,sans-serif; color:#000000; margin-right:10px;
}
DIV.homeColumnGrid Td { FONT: 12px arial,sans-serif; color:#000;
}
DIV.homeColumnGrid Td textarea,select {FONT: 12px arial,sans-serif; border:1px solid #cccccc; padding:2px;
}
DIV.homeColumnGrid Td a {FONT: 12px arial,sans-serif; color:#333399;
}
DIV.homeColumnGrid TH.sorted{ background-color:#F0F0F0; background-image:url(../images/icon-arrowUp.gif); background-repeat:no-repeat; background-position:right;
}
DIV.homeColumnGrid TH.descSorted{ background-color:#F0F0F0; background-image:url(../images/icon-arrowDown.gif); background-repeat:no-repeat; background-position:right;
}
DIV.homeColumnGrid Td.sorted{ background-color: #F8F8F8;
}
DIV.homeColumnGrid TH.sortable{background-color:#F0F0F0;  FONT: bold 12px arial,sans-serif; color:#000000; margin-right:10px;
}


DIV.homeColumnTab {
	FLOAT: left;
}
DIV.homeColumnTab H1 {
	/*PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BACKGROUND: url(../images/login_header_bg_tile.gif) #000000 repeat-x; FLOAT: left; PADDING-BOTTOM: 0px; MARGIN: 0px; FONT: bold 12px arial,sans-serif; height:18px; COLOR: #fff; PADDING-TOP: 3px*/
    PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BACKGROUND: url(../images/login_header_bg_tile.gif) #000000 repeat-x; FLOAT: left; PADDING-BOTTOM: 3px; MARGIN: 0px; FONT: bold 12px arial,sans-serif; COLOR: #fff; PADDING-TOP: 3px; line-height:15px;
}
DIV.homeColumnTab DIV.box {
	CLEAR: left; PADDING-RIGHT: 10px; PADDING-LEFT: 10px; BACKGROUND: url(../images/bkgd_gradient_slice.jpg) #fff repeat-x; PADDING-BOTTOM: 0px; FONT: 11px arial,sans-serif; PADDING-TOP: 7px; HEIGHT: 100%
}
DIV.homeColumnTab DIV.loginbox {
	CLEAR: left; PADDING-RIGHT: 10px; PADDING-LEFT: 10px; BACKGROUND: url(../images/bkgd_gradient_slice.jpg) #fff repeat-x; PADDING-BOTTOM: 0px; FONT: 11px arial,sans-serif; PADDING-TOP: 7px; HEIGHT: 100%; border:solid 1px #CCCCCC;
}
DIV.homeColumnTab DIV.contentbox {
    CLEAR: left; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BACKGROUND: url(../images/bkgd_gradient_slice.jpg) #fff repeat-x; PADDING-BOTTOM: 0px; FONT: 11px arial,sans-serif; PADDING-TOP: 0px; HEIGHT: 100%; border:solid 0px #e4e4e4;
    /*CLEAR: left; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BACKGROUND: url(../images/bkgd_gradient_slice.jpg) #fff repeat-x; PADDING-BOTTOM: 0px; FONT: 11px arial,sans-serif; PADDING-TOP: 0px; HEIGHT: 100%; border:solid 1px #CCCCCC;*/
}
DIV.homeColumnTab DIV.box UL {
	PADDING-RIGHT: 0px; DISPLAY: block; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; LIST-STYLE-TYPE: none
}
DIV.homeColumnTab DIV.box UL LI {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 3px; MARGIN: 0px; PADDING-TOP: 0px
}
DIV.homeColumnTab DIV.box DIV.iconLine {
	MARGIN: 10px 0px 4px; OVERFLOW: hidden; HEIGHT: 20px
}
DIV.homeColumnTab DIV.box DIV.iconLine IMG {
	FLOAT: left; WIDTH: 30px; HEIGHT: 20px
}
DIV.homeColumnTab DIV.box DIV.iconLine DIV {
	BORDER-TOP: #ccc 1px solid; MARGIN-TOP: 10px; FLOAT: left; WIDTH: 117px
}
DIV.homeColumnTab DIV.box P {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 7px; MARGIN: 0px; PADDING-TOP: 0px
}

DIV.homeColumnTab DIV.tab {background-image:url(../images/tab_bg.gif); background-repeat:repeat-x; background-position:top; height:36px;
}
DIV.homeColumnTab DIV.tabActiveBegin{background-image:url(../images/tab_active_Left.gif); background-repeat:no-repeat; background-position:left top; height:32px; float:left;padding-left:3px;
}
DIV.homeColumnTab DIV.tabActive{background-image:url(../images/tab_active_right.gif); background-repeat:no-repeat; background-position:right top; height:26px; float:left;padding-left:7px;padding-right:13px;padding-top:9px}

DIV.homeColumnTab DIV.tabActive a {FONT: bold 12px arial,sans-serif; color:#ffffff; text-decoration:none;
}
DIV.homeColumnTab DIV.tabinActive {float:left; padding-left:10px; padding-right:10px; padding-top:9px;
}
DIV.homeColumnTab DIV.tabinActive a {FONT: bold 12px arial,sans-serif; color:#333399; text-decoration:underline;
}
DIV.homeColumnTab DIV.divider {background-image:url(../images/tab_saprator.gif); background-repeat:no-repeat; width:3px; float:left; height:35px;
}

DIV.homeColumnTab Table {border: 0px solid #FFF; border-collapse:collapse;}

DIV.homeColumnTab TH {background-color:#E8E8E8; FONT: 12px arial,sans-serif; color:#000000; margin-right:10px; border-top:solid 1px #D4D4D4; border-bottom:solid 1px #D4D4D4; border-left:solid 1px #E8E8E8;
}
DIV.homeColumnTab TH a {FONT: bold 12px arial,sans-serif; color:#000000; margin-right:10px;
}
DIV.homeColumnTab Td { background-color:#FFFFFF; LINE-HEIGHT: 15px; FONT: 12px arial,sans-serif; color:#000;
}
DIV.homeColumnTab Td textarea,select {FONT: 12px arial,sans-serif; border:1px solid #8199b8; padding:2px;
}
DIV.homeColumnTab Td a {FONT: 12px arial,sans-serif; color:#333399;
}
DIV.homeColumnTab TH.sortColumnth { background-color:#F8F8F8; background-image:url(../images/icon-arrowDown.gif); background-repeat:no-repeat; background-position:right;}

DIV.homeColumnTab Td.sortColumntd { background-color: #F8F8F8; }

DIV.homeColumnTab Table.Grid2 {border: 1px solid #CCCCCC; border-collapse:collapse;}

DIV.homeColumnTab Table.Grid2 td {vertical-align:middle;}

DIV.homeColumnTab Table.Grid2 th {background-color:#cccccc; FONT: bold 12px arial,sans-serif; color:#000000; padding:5px; text-align:center; vertical-align:middle;}

DIV.homeColumnTab Table.Grid2 th.left {background-color:#cccccc; FONT: bold 12px arial,sans-serif; color:#000000; padding:2px; text-align:left}

DIV.homeColumnTab Table.Grid2 th a {FONT: bold 12px arial,sans-serif; color:#000000; margin-right:10px;}

DIV.homeColumnTab Table.GridGradient th.blulink a {FONT: 12px arial,sans-serif; color:#333399; }
DIV.homeColumnTab Table.GridGradient td.blulink a {FONT: 12px arial,sans-serif; color:#333399; }

DIV.homeColumnTab Table.GridGradient td { padding-left:10px; vertical-align:middle; }

DIV.homeColumnTab Table.GridGradient td.viewText {padding-bottom:5px; }

DIV.homeColumnTab Table.GridGradient td.noPad { padding-left:0;  vertical-align:middle; }

DIV.homeColumnTab Table.GridGradient td.gradient { BACKGROUND: url(../images/bkgd_gradient_slice.jpg) #fff repeat-x ; PADDING-TOP: 10px; border:0; vertical-align:middle;}

DIV.homeColumnTab Table.GridGradient th { padding:0; CLEAR: left; PADDING-LEFT: 10px; padding-right:5px ;padding-bottom:5px; BACKGROUND: url(../images/bkgd_gradient_slice.jpg) #fff repeat-x ; PADDING-TOP: 10px; HEIGHT: 100%; border:0; vertical-align:middle;}


.headLeftCurveblk {
	BACKGROUND: url(../images/login_header_left_curve.gif) no-repeat; FLOAT: left; OVERFLOW: hidden; WIDTH: 10px; HEIGHT: 21px
}
.headLeftCurveblkTDWidth {
	WIDTH: 10px;
}
.headRightCurveblk {
	BACKGROUND: url(../images/login_header_right_curve.gif) no-repeat; FLOAT: left; OVERFLOW: hidden; WIDTH: 10px; HEIGHT: 21px
}
.headRightCurveblkTDWidth {
	WIDTH: 10px;
}
.headLeftCurveRed {
	BACKGROUND: url(../images/header_red_left.gif) no-repeat; FLOAT: left; OVERFLOW: hidden; WIDTH: 10px; HEIGHT: 24px
}
.headRightCurveRed {
	BACKGROUND: url(../images/header_red_right.gif) no-repeat; FLOAT: left; OVERFLOW: hidden; WIDTH: 10px; HEIGHT: 24px
}
.headFormLeftCurve {
	BACKGROUND: url(../images/header_red_lefta.gif) no-repeat; FLOAT: left; OVERFLOW: hidden; WIDTH: 10px; HEIGHT: 24px
}
.headFormRightCurve {
	BACKGROUND: url(../images/header_red_righta.gif) no-repeat; FLOAT: left; OVERFLOW: hidden; WIDTH: 10px; HEIGHT: 24px
}
DIV#loginFix {
	Z-INDEX: 4; BACKGROUND: url(../images/bkgd_gradient_slice.gif) #fff repeat-x; FILTER: alpha(opacity=90); WIDTH: 203px; opacity: .90; moz-opacity: 0.9
}
DIV#loginFixBorder {
	BORDER-RIGHT: #ccc 1px solid; LEFT: 545px; BORDER-LEFT: #ccc 1px solid; BORDER-BOTTOM: #ccc 1px solid; POSITION: absolute; TOP: 44px
}
DIV#loginForm DIV.box FORM {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
DIV#loginForm DIV.box FORM FIELDSET {
	BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; BORDER-RIGHT-WIDTH: 0px
}
DIV#loginForm DIV.box FORM FIELDSET LEGEND {
	DISPLAY: none
}
DIV#loginForm {
	Z-INDEX: 5; LEFT: 545px; FLOAT: left; WIDTH: 205px; POSITION: absolute; TOP: 20px; HEIGHT: 100%
}
DIV#loginForm DIV.box {
	CLEAR: left; PADDING-RIGHT: 10px; PADDING-LEFT: 10px; PADDING-BOTTOM: 10px; PADDING-TOP: 10px
}
DIV#loginForm H1 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BACKGROUND: url(../images/header_red_1px.gif) #f30000 repeat-x; FLOAT: left; PADDING-BOTTOM: 0px; MARGIN: 0px; FONT: bold 1.2em/24px arial,sans-serif; WIDTH: 185px; COLOR: #fff; PADDING-TOP: 0px
}
DIV#loginForm DIV.box FORM FIELDSET DIV#lg1Content {
	DISPLAY: block
}
DIV#loginForm DIV.box DIV#lg1Content A {
	FONT-SIZE: 0.9em
}
DIV#loginForm DIV.box FORM FIELDSET SELECT {
	DISPLAY: block; FLOAT: left; MARGIN: 0px 0px 7px; FONT: bold 1em arial,sans-serif; WIDTH: 100%
}
DIV#loginForm DIV.box FORM FIELDSET DIV LABEL {
	PADDING-RIGHT: 0px; DISPLAY: block; PADDING-LEFT: 0px; FLOAT: left; PADDING-BOTTOM: 5px; FONT: bold 1em arial,sans-serif; WIDTH: 75px; PADDING-TOP: 3px
}
DIV#loginForm DIV.box FORM FIELDSET DIV INPUT {
	DISPLAY: block; FLOAT: left; MARGIN: 0px 0px 5px; FONT: 12px arial,sans-serif; WIDTH: 90px
}
DIV#loginForm DIV.box FORM FIELDSET DIV DIV.formRow {
	CLEAR: both; FONT: 12px arial,sans-serif; COLOR: #999
}
DIV#loginForm DIV.box FORM FIELDSET DIV#lg2Content {
	PADDING-RIGHT: 0px; PADDING-LEFT: 3px; PADDING-BOTTOM: 0px; FONT: 1em/1.3em arial,sans-serif; COLOR: #000; PADDING-TOP: 0px
}
DIV#loginForm DIV.box DIV#lg2Content A {
	FONT-SIZE: 0.9em
}
DIV#loginForm DIV.box FORM FIELDSET DIV#lg3Content {
	PADDING-RIGHT: 0px; PADDING-LEFT: 3px; PADDING-BOTTOM: 0px; FONT: 1em/1.3em arial,sans-serif; COLOR: #000; PADDING-TOP: 0px
}
DIV#loginForm DIV.box DIV#lg3Content A {
	FONT-SIZE: 0.9em
}
DIV#loginForm DIV#lg4Content {
	FONT: 1em/1.2em arial,sans-serif; COLOR: #000
}
DIV#loginForm DIV#lg4Content P {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 10px; MARGIN: 0px; PADDING-TOP: 10px
}
DIV#loginForm DIV#loginBox BUTTON {
	DISPLAY: block; FLOAT: left
}
DIV#loginForm DIV#loginBox BUTTON.redButton SPAN SPAN {
	BACKGROUND: url(../images/button_red_left_g.gif) no-repeat left top;
}

DIV.errorMsg, DIV.popUpErrorMsg {FLOAT: left; background-color:#fecccb; width:765px; PADDING-RIGHT: 10px; PADDING-LEFT: 35px; padding-top:5px; padding-bottom:5px; BACKGROUND: url(../images/icon-error.gif) #fecccb no-repeat; background-position: 10px 7px; margin-bottom:10px;}

DIV.errorMsg h1, DIV.popUpErrorMsg h1 {PADDING-RIGHT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; FONT: bold 12px arial,sans-serif; COLOR: #d8001d; PADDING-TOP: 3px;}

DIV.alertMsg, DIV.popUpAlertMsg {FLOAT: left; background-color:#fecccb; width:765px; PADDING-RIGHT: 10px; PADDING-LEFT: 35px; padding-top:5px; padding-bottom:5px; BACKGROUND: url(../images/icon_success.gif) #fecccb no-repeat; background-position: 10px 7px; margin-bottom:10px;}

DIV.alertMsg li, DIV.popUpAlertMsg l1 {PADDING-RIGHT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; FONT: 12px arial,sans-serif; COLOR: #000; PADDING-TOP: 3px; list-style-position:inside;}

DIV.alertMsgYlw { background: #f4f4f4; border: solid 1px #ccc; padding-left: 10px; padding-right: 10px; margin-top: 10px;   }
DIV.popUpErrorMsg { width:100%; height:100%; }

DIV.popUpAlertMsg { width:100%; height:100%; }


.pR5px { padding-right:5px; }
.pL5px { padding-left:5px; }

/**** styles with no layout ***/
.noLayout_inputField {	FONT: 12px arial,sans-serif; border:1px solid #8199b8; padding:2px; margin-top:5px; margin-bottom:5px;    
}
DIV.noLayout_h1_table_header {	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BACKGROUND: url(../images/login_header_bg_tile.gif) #000000 repeat-x; FLOAT: left; PADDING-BOTTOM: 3px; MARGIN: 0px; FONT: bold 12px arial,sans-serif; COLOR: #fff; PADDING-TOP: 3px; line-height:15px;WIDTH:790px;
}

Table.noLayout_GridGradient th { 	padding:0; CLEAR: left; PADDING-LEFT: 10px; padding-right:5px ;padding-bottom:5px; text-align:left; BACKGROUND: url(../images/bkgd_gradient_slice.jpg) #fff repeat-x ; PADDING-TOP: 10px; HEIGHT: 100%; border:0; vertical-align:middle;
}
Table.noLayout_GridGradient td { 	padding-left:10px; vertical-align:middle; 
}

Table.noLayout_GridGradient th {	background-color:#E8E8E8; FONT: 12px arial,sans-serif; color:#000000; margin-right:10px;
}
Table.noLayout_GridGradient th a {	FONT: bold 12px arial,sans-serif; color:#000000; margin-right:10px;
}
Table.noLayout_GridGradient td {	background-color:#FFFFFF; LINE-HEIGHT: 15px; FONT: 12px arial,sans-serif; color:#000;
}
Table.noLayout_GridGradient td textarea, select {	FONT: 12px arial,sans-serif; border:1px solid #8199b8; padding:2px;
}
Table.noLayout_GridGradient td a {	FONT: 12px arial,sans-serif; color:#333399;
}

.noLayout_requiredText {
	FONT-WEIGHT: normal; FONT-SIZE: 1em; COLOR: #f00; PADDING-RIGHT: 3px
}