TABLE {
	FONT-SIZE: 10pt; FONT-FAMILY: Arial, Helvetica, sans-serif
}
#collapsible_menu {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; LIST-STYLE-TYPE: none; COLOR: #ffffff;
}
#collapsible_menu LI a {
	color:#FFFFFF;	
}
#collapsible_menu UL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; LIST-STYLE-TYPE: none; 
}
/*
#collapsible_menu A {
	PADDING-RIGHT: 4px; BORDER-TOP: #930400 1px solid; DISPLAY: block; PADDING-LEFT: 10px; PADDING-BOTTOM: 4px; WIDTH: 136px; COLOR: #ffffff; PADDING-TOP: 4px; BORDER-BOTTOM: #002d23 0px solid; BACKGROUND-COLOR: #c50700; TEXT-DECORATION: none; font-weight:bold; font-family:Arial, Helvetica, sans-serif; font-size:12px;
}
#collapsible_menu A:hover {
	BORDER-BOTTOM: #4a8074 0px solid; BACKGROUND-COLOR: #660000
}
#collapsible_menu UL A {
	BORDER-TOP: #000000 1px solid; DISPLAY: block; FONT-SIZE: 11px; WIDTH: 126px; COLOR: #FFFFFF; BORDER-BOTTOM: #4d4d4d 1px solid; BACKGROUND-COLOR: #000000; text-decoration:none; PADDING-LEFT: 20px; font-weight:bold; font-family:Arial, Helvetica, sans-serif
}
#collapsible_menu UL A:hover {
	BACKGROUND-COLOR: #660000; BORDER-TOP: #660000 1px solid; BORDER-BOTTOM: #4d4d4d 1px solid;
}
*/
.menuOpenBlank {
    background-image:url(../images/leftNav/collapsible_menu_open_blank.gif); /*background-repeat:no-repeat;*/    
}
.collapsible_mainMenu A {PADDING-RIGHT: 4px; BORDER-TOP: #930400 0px solid; DISPLAY: block; PADDING-LEFT: 10px; WIDTH: 136px;  COLOR: #ffffff; PADDING-TOP: 5px; PADDING-bottom: 4px; BORDER-BOTTOM: #002d23 0px solid; BACKGROUND-COLOR: #c50700; TEXT-DECORATION: none; font-weight:bold; font-family:Arial, Helvetica, sans-serif; font-size:12px;
}
.collapsible_mainMenu A:hover {
	BORDER-BOTTOM: #4a8074 0px solid; /*BACKGROUND-COLOR: #660000*/
}
#collapsible_subMenu A {
	BORDER-TOP: #000000 1px solid; DISPLAY: block; FONT-SIZE: 11px; WIDTH: 126px;  COLOR: #FFFFFF; BORDER-BOTTOM: #4d4d4d 1px solid; BACKGROUND-COLOR: #000000; text-decoration:none; PADDING-LEFT: 20px; font-weight:bold; font-family:Arial, Helvetica, sans-serif; padding-top:2px; padding-bottom:3px;
}
#collapsible_subMenu A:hover {
	BACKGROUND-COLOR: #660000; BORDER-TOP: #660000 1px solid; BORDER-BOTTOM: #4d4d4d 1px solid;
}
#collapsible_subMenu1 A {
	BORDER-TOP: #000000 1px solid; DISPLAY: block; FONT-SIZE: 11px; WIDTH: 126px;  COLOR: #FFFFFF; BORDER-BOTTOM: #4d4d4d 1px solid; BACKGROUND-COLOR: #000000; text-decoration:none; PADDING-LEFT: 20px; font-weight:bold; font-family:Arial, Helvetica, sans-serif; padding-top:2px; padding-bottom:3px;
}
#collapsible_subMenu1 A:hover {
	BACKGROUND-COLOR: #660000; BORDER-TOP: #660000 1px solid; BORDER-BOTTOM: #4d4d4d 1px solid;
}
#collapsible_menu LI {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; 
}
.subMenuClosed {
	DISPLAY: none;
}
.subMenuOpen {
	DISPLAY: block;
}
.menuClosed {
	BACKGROUND-POSITION: right center; BACKGROUND-IMAGE: url(../images/leftNav/collapsible_menu_closed.gif); BACKGROUND-REPEAT: no-repeat;COLOR: #ffffff;
}
.menuOpen {
	BACKGROUND-POSITION: right center; BACKGROUND-IMAGE: url(../images/leftNav/collapsible_menu_open.gif); BACKGROUND-REPEAT: no-repeat;
}
.boxHead {
	BACKGROUND-IMAGE: url(../images/leftNav/boxHead.gif);
	BACKGROUND-REPEAT: no-repeat;
	height: 21px;
}
.boxHeadtext {
	color: #FFFFFF;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	PADDING-TOP: 2px;
	margin-left: 10px;
	font-weight: bold;
}
.linkBG {
	 background-image:url(../images/leftNav/manuBg_active.gif); background-repeat:no-repeat;
}
.subLinkActive {
	background-image:url(../images/leftNav/sub_manuBg_up.gif);
	background-repeat:repeat;
}