.popup-close a {
	background:transparent url(icon-close.gif) no-repeat scroll 0%;
	display:block;
	height:15px;
	margin:0pt;
	overflow:hidden;
	padding:0pt;
	text-decoration:none;
	text-indent:-10000px;
}
label {
	color:#000000;
	font-family:Verdana,Arial,Helvetica;
	font-size:11px;
}
.divContent{
	position:absolute; 
	visibility: hidden; 
	padding: 0px;	
	text-align: left;
}
.divCloseLink{
	text-align:right; 
	padding: 4px; 
	border-left:0px solid #76B2DE; 
	border-top:0px solid #76B2DE; 
	border-right:0px solid #76B2DE; 
}
.divFormContent{
	border: 1px solid #e4e4e4; 
	background-color:#f0f0f0;
	padding: 0px; 
	overflow-y:scroll; 
	overflow-x:hidden;
}
.divFormButton{
	text-align:left; 
	background-color:#f0f0f0;
	padding: 0px; 
	border-left:0px solid #76B2DE; 
	border-bottom:0px solid #76B2DE; 
	border-right:0px solid #76B2DE; 
}
DIV.homeColumnTab DIV.divContent DIV.divFormContent  td {
	background-color:#f0f0f0;
}
DIV.homeColumnTab DIV.divContent DIV.divFormContent a {
	color:#333399; 
	font-variant: normal; 
	font-weight: normal;
}

