<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd" >
<log4j:configuration>
    <appender name="console" class="org.apache.log4j.ConsoleAppender">
        <param name="threshold" value="debug"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d %p [%c] - %m%n" />
        </layout>
    </appender>
    <appender name="file"
        class="org.apache.log4j.RollingFileAppender">
        <param name="maxFileSize" value="3MB" />
        <param name="maxBackupIndex" value="3" />
        <param name="File" value="D:\\Java\\Tomcat6.0.16\\logs\\struts.log" />
        <param name="threshold" value="debug"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d %p [%c] - %m%n" />
        </layout>
    </appender>
    <logger name="org.apache.struts">
        <level value="INFO" />
    </logger>
    <root>
        <priority value="debug"></priority>
        <appender-ref ref="console" />
        <appender-ref ref="file" />
    </root>
</log4j:configuration>