<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
     "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
     "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">


<hibernate-configuration>

	<session-factory>
	
		<property name="hibernate.connection.datasource">java:comp/env/jdbc/vzdn</property>			
		<mapping resource="com/netpace/vzdn/model/VzdnZonTempUsers.hbm.xml" />
		<mapping resource="com/netpace/vzdn/model/VzdnTempFiles.hbm.xml" />
		<mapping resource="com/netpace/vzdn/model/VzdnTypes.hbm.xml" />
		<mapping resource="com/netpace/vzdn/model/VzdnTypeDefs.hbm.xml" />
		<mapping resource="com/netpace/vzdn/model/VzdnUsers.hbm.xml" />
		<mapping resource="com/netpace/vzdn/model/VzdnSysRoles.hbm.xml" />
		<mapping resource="com/netpace/vzdn/model/VzdnSysPrivileges.hbm.xml" />
		<mapping resource="com/netpace/vzdn/model/VzdnSubMenus.hbm.xml" />
		<mapping resource="com/netpace/vzdn/model/VzdnMenus.hbm.xml" />
		<mapping resource="com/netpace/vzdn/model/VzdnReports.hbm.xml" />
		<mapping resource="com/netpace/vzdn/model/VzdnDevCareCategories.hbm.xml" />
		<mapping resource="com/netpace/vzdn/model/VzdnDevCareSubCategories.hbm.xml" />
		<mapping resource="com/netpace/vzdn/model/VzdnDevCareIssues.hbm.xml" />
		<mapping resource="com/netpace/vzdn/model/VzdnDevCareLifeCycle.hbm.xml" />
		<mapping resource="com/netpace/vzdn/model/VzdnEmailMessagesAtt.hbm.xml" />
		<mapping resource="com/netpace/vzdn/model/VzdnEmailMessages.hbm.xml" />
		<mapping resource="com/netpace/vzdn/model/VzdnEventHandlers.hbm.xml" />
		<mapping resource="com/netpace/vzdn/model/VzdnPlaceHolders.hbm.xml" />
		<mapping resource="com/netpace/vzdn/model/VzdnNotifAdHocRecipients.hbm.xml" />
		<mapping resource="com/netpace/vzdn/model/VzdnEvents.hbm.xml" />
		<mapping resource="com/netpace/vzdn/model/VzdnEventNotifications.hbm.xml" />	
		<mapping resource="com/netpace/vzdn/model/DeviceAnyWhere.hbm.xml" />		
		
		<!-- Post Launch changes: July 29, 2009 -->
		
		<mapping resource="com/netpace/vzdn/model/VzdnEmailExceptionLog.hbm.xml" />
		<mapping resource="com/netpace/vzdn/model/VzdnEventLite.hbm.xml" />
		<mapping resource="com/netpace/vzdn/model/VzdnEventNotificationLite.hbm.xml" />		
		<mapping resource="com/netpace/vzdn/model/VzdnNotifAdHocRecipientsLite.hbm.xml" />
		<mapping resource="com/netpace/vzdn/model/VzdnNotificationRole.hbm.xml" />
		<mapping resource="com/netpace/vzdn/model/VzdnNotificationRoleLite.hbm.xml" />
		<mapping resource="com/netpace/vzdn/model/VzdnNotifOptOutRecipients.hbm.xml" />
		<mapping resource="com/netpace/vzdn/model/VzdnNotifOptOutRecipientsLite.hbm.xml" />
		<mapping resource="com/netpace/vzdn/model/VzdnNewsletterEmailLog.hbm.xml" />
		<mapping resource="com/netpace/vzdn/model/VzdnNewsletterRecieverLog.hbm.xml" />
		<mapping resource="com/netpace/vzdn/model/VzdnNewsLetterOptOutRecipients.hbm.xml" />
		<mapping resource="com/netpace/vzdn/model/report.hbm.xml" />
		
		<!-- 
		
		<mapping resource="com/netpace/vzdn/model/AimsEmailMessagesAtt.hbm.xml" />		 		
		<mapping resource="com/netpace/vzdn/model/AimsEventHandler.hbm.xml" />
		<mapping resource="com/netpace/vzdn/model/AimsNotifAdHocRecipients.hbm.xml" />		
		<mapping resource="com/netpace/vzdn/model/AimsPlaceHolder.hbm.xml" />
		
		<mapping resource="com/netpace/vzdn/model/AimsEmailExceptionLog.hbm.xml" />
		<mapping resource="com/netpace/vzdn/model/AimsEventLite.hbm.xml" />
		<mapping resource="com/netpace/vzdn/model/AimsEventNotificationLite.hbm.xml" />		
		<mapping resource="com/netpace/vzdn/model/AimsNotifAdHocRecipientsLite.hbm.xml" />
		<mapping resource="com/netpace/vzdn/model/AimsNotificationRole.hbm.xml" />
		<mapping resource="com/netpace/vzdn/model/AimsNotificationRoleLite.hbm.xml" />
		<mapping resource="com/netpace/vzdn/model/AimsNotifOptInRecipients.hbm.xml" />
		<mapping resource="com/netpace/vzdn/model/AimsNotifOptInRecipientsLite.hbm.xml" />
		
		
		-->
		
		
		
		
		
				
	</session-factory>


</hibernate-configuration>