<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation=
		"http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-3.2.xsd">

	<bean id="notificationService" class="com.packtpub.ch11.notification.NotificationServiceImpl">
		<property name="notifier">
			<ref local="notifier" />
		</property>
		<property name="retryOnFail">
			<value>true</value>
		</property>
	</bean>
	<bean id="notifier" class="com.packtpub.ch11.notification.EmailNotifier" />

	<bean id="notificationThrowsAdvice" class="com.packtpub.ch11.advice.NotificationThrowsAdvice">
		<property name="notificationService">
			<ref local="notificationService" />
		</property>
	</bean>
	
	<bean id="studentServiceTarget" class="com.packtpub.ch11.service.StudentServiceImpl">
		<property name="studentDao">
			<bean class="com.packtpub.ch11.dao.StudentDaoImpl"/>
		</property>
	</bean>
	
	<!--advice declaration -->
    <bean id="advice" class="com.packtpub.ch11.advice.LogAfterAdvice"/>
    <bean id="beforeAdvice" class="com.packtpub.ch11.advice.LogBeforeAdvice"/>
    <bean id="aroundAdvice" class="com.packtpub.ch11.advice.PerformanceInterceptor"/>
    
    <!-- pointcut declaration -->
	<!-- <bean id="pointcut" class="org.springframework.aop.support.JdkRegexpMethodPointcut">
		<property name="pattern">
			<value>.*</value>
		</property>
	</bean> -->
	<!--advisor declaration, combined of the advice and pointcut-->
	<!-- <bean name="advisor" class="org.springframework.aop.support.DefaultPointcutAdvisor">
		<property name="pointcut">
			<ref local="pointcut" />
		</property>
		<property name="advice">
			<ref local="advice" />
		</property>
	</bean>  -->
	
	<!-- <bean id="studentService" class="org.springframework.aop.framework.ProxyFactoryBean">
		<property name="proxyInterfaces">
           <value>com.packtpub.ch11.service.StudentService</value>
        </property>
        <property name="target">
           <ref local="studentServiceTarget"/>
       </property>
       <property name="interceptorNames">
           <list>
               <value>advisor</value>
               <value>notificationThrowsAdvice</value>
               <value>beforeAdvice</value>
               <value>aroundAdvice</value>
           </list>
       </property>   
	</bean> -->
	
	<bean id="messageWriter" class="com.packtpub.ch11.advice.MessageWriter"/>
	<aop:config>
		<aop:pointcut expression="execution(* com.packtpub.ch11.service.*Service.*(..))" id="servicePointcut"/>
		<aop:aspect id="aspect1" ref="messageWriter">
			<aop:before method="writeMessage" pointcut-ref="servicePointcut"/>
		</aop:aspect>
	</aop:config>
	<!-- <bean id="studentService" class="org.springframework.aop.framework.autoproxy.BeanNameAutoProxyCreator">
		<property name="beanNames">
			<value>studentServiceTarget</value>
		</property>
		<property name="interceptorNames">
			<list>
				<value>notificationThrowsAdvice</value>
			</list>
		</property>
	</bean> -->
	<!-- <bean id="getterPointcut" class="org.springframework.aop.support.Pointcuts.GETTERS"/>
	<bean id="studentDaoPointcut" class="org.springframework.aop.support.NameMatchMethodPointcut">
       <property name="mappedNames">
           <list>
               <value>saveStudent</value>
               <value>updateStudent</value>
           </list>
￼    	</property>
	</bean>
	<bean class="org.springframework.aop.support.JdkRegexpMethodPointcut">
		<property name="patterns">
			<list>
				<value>.*Student</value>
				<value>.*Course</value>
			</list>
		</property>
	</bean> -->
</beans>