html {}
a:link {color: #0066CC}     /* unvisited link */
a:visited {color: #663366}  /* visited link */
a:hover {color: #0066CC}   /* mouse over link */
a:active {color: #0066CC}   /* selected link */

#page {margin:0 auto;padding:0;width:760px;text-align:left;background:#fff;} 

.clr {clear:both;}

.hidden {position:absolute;left:-1000em;height:1px;overflow:hidden;}
.visible {position:static;left:0;}

/* ELEMENTS */



/* body copy */
p.body_border {padding:10px 0 0 10px;margin:20px 0 0 0;border-top:1px solid #ccc;position:relative;left:-10px;}
p.body_small {font-size:11px;}
p.legal {font-size:11px;color:#666666;}


/* tabs */
.tab_holder {overflow:auto;background:transparent url(../images/shared/tabs/png/bg_right.png) no-repeat top right;padding:0 10px 0 0;border-bottom:3px solid #CC0000;}
.tab_holder ul {overflow:auto;background:transparent url(../images/shared/tabs/png/bg_slab.png) no-repeat top left;margin:0;padding:0;}
.tab_holder li, .tab_holder a, .tab_holder a span, .tab_holder a span span, .tab_holder a span span span {display:block;float:left;font:bold 12px arial;color:#fff;cursor:pointer;line-height:30px;background:none;padding:0;margin:0;}
.tab_holder a span span span {padding:0 9px 0 10px;border-right:1px solid #666;line-height:25px;margin-top:5px;}

.tab_holder a.active {text-decoration:none;}
.tab_holder a:visited {color:#fff;}
.tab_holder a:hover {color:#fff;}

.tab_holder a.active span {background:transparent url(../images/shared/tabs/png/tab_left.png) no-repeat top left;padding:0 0 0 10px;}
.tab_holder a.active span span {background:transparent url(../images/shared/tabs/png/tab_right.png) no-repeat top right;padding:0 10px 0 0;}
.tab_holder a.active span span span {background:transparent url(../images/shared/tabs/png/tab_1px.png) repeat-x;padding:5px 0 0 0;line-height:25px;border:0;margin:0;}

.tab_holder a span span span span {display:inline;float:none;font:normal 9px arial;margin:0;padding:0;border:0;background:transparent;}
.tab_holder a.active span span span span {display:inline;float:none;font:normal 9px arial;margin:0;padding:0;border:0;background:transparent;}


