#gn_outside {background:url(../images/shared/globalnav/off_red.gif) repeat-x;text-align:center;width:100%;}
#gn {height:35px;width:984px; min-width:984px;}
#gn_outside #gn {margin:0 auto;text-align:left; border:solid 0px #000;}

#gn div ul, #gn div ul li ul {display:block;width:180px;list-style-type:none;list-style-position:outside;padding:0;margin:0;}
#gn div ul li, #gn div ul li ul li {display:block;width:180px;vertical-align:bottom;padding:0;margin:0;background:transparent;}

#gn h2 {display:block;float:left;padding:0 1px 0 0;margin:0;height:35px;line-height:35px;background:url(../images/shared/globalnav/divider.gif) no-repeat top right;}
#gn h2 a:link, #gn h2 a:visited {display:block;float:left;background:url(../images/shared/globalnav/off_red.gif) repeat-x;font:bold 13px arial,sans-serif;color:#fff;text-decoration:none;padding:0 10px 0 10px;height:35px;line-height:35px;}
#gn h2 a:hover, #gn h2 a:active, #gn h2 a:focus, #gn h2 a.gn_active, a.gn_selected, #gn h2 span.gn_left_end a.gn_active, #gn h2 span.gn_left_end a.gn_selected  {background:url(../images/shared/globalnav/over_red.gif) repeat-x  !important;color:#fff;text-decoration:none;} 
#gn h2 span {display:block;float:left;cursor:pointer;cursor:hand;}
#gn h2 span.gn_left_end {padding:0 0 0 1px;margin:0;height:35px;line-height:35px;background:url(../images/shared/globalnav/divider.gif) no-repeat top left;}
#gn h2 div.gn_left_end {float:left;width:1px;margin:0;height:35px;line-height:35px;background:url(../images/shared/globalnav/divider.gif) no-repeat top left;}
#gn h2 img {display:block;float:left;height:35px;width:1px;overflow:hidden;}
#gn sup {line-height:0px;vertical-align:text-top;}

#gn div.gn_dd {position:absolute;left:-1000em;z-index:500;background:url(../images/shared/globalnav/s.gif);width:180px;}
#gn div.gn_dd ul li a:link, #gn div.gn_dd ul li a:visited {display:block;font:bold 12px arial,sans-serif;color:#fff;text-decoration:none;padding:4px 10px 4px 10px;background:#000;border-bottom:1px solid #333;}
#gn div.gn_dd ul li a:hover, #gn div.gn_dd ul li a:active, #gn div.gn_dd ul li a:focus {text-decoration:none;}
#gn div.gn_dd ul li ul {position:absolute;z-index:500;margin-left:180px;top:0;width:0;overflow:hidden;left:-1000em;visibility:hidden;}
#gn div.gn_dd ul li ul li a:link, #gn div.gn_dd ul li ul li a:visited {font:normal 11px arial,sans-serif;padding-left:1.65em;text-indent:-0.5em;background:#333;border-bottom:1px solid #4D4D4D;}
#gn div.gn_dd ul li ul li a:hover, #gn div.gn_dd ul li ul li a:active, #gn div.gn_dd ul li ul li a:focus {text-decoration:none;background:#990000;}
#gn div.gn_dd ul li ul li a:link.newWindow, #gn div.gn_dd ul li ul li a:visited.newWindow, #gn div.gn_dd ul li ul li a:hover.newWindow, #gn div.gn_dd ul li ul li a:active.newWindow, #gn div.gn_dd ul li ul li a:focus.newWindow {background-image: url(../images/shared/elements/newwindow.gif); background-position: 95% 45%; background-repeat: no-repeat;}

#gn div ul li ul li.promo {margin:0;padding:0;background-repeat:no-repeat;background-position:1px 0px;background-color:#333;border-bottom:1px solid #4D4D4D;color:#fff;font:normal 11px arial,sans-serif;}
#gn div ul li ul li.promo strong {display:block;font-size:12px;}
#gn div ul li ul li.promo p {padding:74px 10px 4px 10px;margin:0;}
#gn div ul li ul li.blank p {padding:4px 10px 4px 10px;margin:0;}

#gn_home {width:90px;}
#gn_wirelessDev {width:150px;}
#gn_gotoMarket {width:120px;}
#gn_myAccount {width:120px;}
#gn_support {width:100px;}
#gn_myaccount {width:87px;}


/* promo menu images */
#gn li.ph_mobile { background-image:url(../images/shared/navpromos/ph_mobile.jpg);}
#gn li.ph_pdas { background-image:url(../images/shared/navpromos/ph_pdas.jpg);}
#gn li.ph_blackberrys { background-image:url(../images/shared/navpromos/ph_blackberry.jpg);}
#gn li.ph_push { background-image:url(../images/shared/navpromos/ph_push.jpg);}
#gn li.ph_wireless { background-image:url(../images/shared/navpromos/ph_wireless.jpg);}
#gn li.ph_special { background-image:url(../images/shared/navpromos/ph_special.jpg);}
#gn li.ph_gift { background-image:url(../images/shared/navpromos/ph_gift.jpg);}
#gn li.ph_accessories { background-image:url(../images/shared/navpromos/ph_accessories.jpg);}

#gn li.pl_voice { background-image:url(../images/shared/navpromos/pl_voice.jpg);}
#gn li.pl_voice_data { background-image:url(../images/shared/navpromos/pl_voice_data.jpg);}
#gn li.pl_wireless { background-image:url(../images/shared/navpromos/pl_wireless.jpg);}
#gn li.pl_business { background-image:url(../images/shared/navpromos/pl_business.jpg);}
#gn li.pl_international { background-image:url(../images/shared/navpromos/pl_international.jpg);}
#gn li.pl_transfer { background-image:url(../images/shared/navpromos/pl_transfer.jpg);}
#gn li.pl_coverage { background-image:url(../images/shared/navpromos/pl_coverage.jpg);}

#gn li.bu_business { background-image:url(../images/shared/navpromos/bu_business.jpg);}
#gn li.bu_business_solutions { background-image:url(../images/shared/navpromos/bu_business_solutions.jpg);}
#gn li.bu_customer { background-image:url(../images/shared/navpromos/bu_customer.jpg);}
#gn li.bu_global { background-image:url(../images/shared/navpromos/bu_global.jpg);}
#gn li.bu_government { background-image:url(../images/shared/navpromos/bu_government.jpg);}
#gn li.bu_phones { background-image:url(../images/shared/navpromos/bu_phones.jpg);}
#gn li.bu_wireless { background-image:url(../images/shared/navpromos/bu_wireless.jpg);}
#gn li.bu_wireless_internet { background-image:url(../images/shared/navpromos/bu_wireless_internet.jpg);}
#gn li.bu_product_services { background-image:url(../images/shared/navpromos/bu_product_services.jpg);}

#gn li.fe_games { background-image:url(../images/shared/navpromos/fe_games.jpg);}
#gn li.fe_mobile { background-image:url(../images/shared/navpromos/fe_mobile.jpg);}
#gn li.fe_mobile_web { background-image:url(../images/shared/navpromos/fe_mobile_web.jpg);}
#gn li.fe_music { background-image:url(../images/shared/navpromos/fe_music.jpg);}
#gn li.fe_ringback { background-image:url(../images/shared/navpromos/fe_ringback.jpg);}
#gn li.fe_ringtones { background-image:url(../images/shared/navpromos/fe_ringtones.jpg);}
#gn li.fe_tools { background-image:url(../images/shared/navpromos/fe_tools.jpg);}
#gn li.fe_video { background-image:url(../images/shared/navpromos/fe_video.jpg);}
#gn li.fe_wallpapers { background-image:url(../images/shared/navpromos/fe_wallpapers.jpg);}

#gn li.me_mobile { background-image:url(../images/shared/navpromos/me_mobile.jpg);}
#gn li.me_mobile_email { background-image:url(../images/shared/navpromos/me_mobile_email.jpg);}
#gn li.me_picture { background-image:url(../images/shared/navpromos/me_picture.jpg);}
#gn li.me_text { background-image:url(../images/shared/navpromos/me_text.jpg);}
#gn li.me_text_alerts { background-image:url(../images/shared/navpromos/me_text_alerts.jpg);}

/* outer container - OLD */
#menuPosition {clear:both;background: url(../images/shared/nav/footer.gif) repeat-x; height:5px; width:760px;position:relative;z-index:100;margin-top:10px;}

/* LOB Main Navigation */
#lob a:link, #lob a:visited {font-size:16px; text-decoration:none; display:block; height:44px; padding-top:11px; text-align:center;} 
#lob a:hover, #lob a:active {text-decoration:underline;} 
#lob div {float:left; height:44px; font-weight:bold; font-size:16px;} 
#residential {width:115px;} 
#residential a {color:#000;} 
#business {width:103px;} 
#business .bus_divider {background:url(../images/shared/nav/divider.gif) no-repeat; width:103px;} 
#business .bus_divider a {background:url(../images/shared/nav/divider.gif) no-repeat right top; color:#000;} 
#wireless {width:99px;} 
#wireless a {color:#000;} 
#wireless_current {background: url(../images/shared/nav/grad_current.jpg) repeat-x;width:99px;} 
#wireless_current a {color:#f00; }

#wideLayout #gn {height:35px;width:984px;}
#wideLayout #lob {width:500px; }
#wideLayout #lob a:link, #lob a:visited {padding:11px 20px 0 20px; }
#wideLayout #residential {width:125px;}
#wideLayout #business, #wideLayout #business .bus_divider {width:113px;}
#wideLayout #wireless, #wideLayout #wireless_current {width:109px;}

.tMenuActive {background:url(../images/shared/globalnav/over_red.gif) repeat-x  !important;color:#fff;text-decoration:none;}



#navHeader {WIDTH: 100%; POSITION: relative; HEIGHT: 80px;}
#navMainnav {MARGIN: 0px auto; WIDTH: 984px; POSITION: relative; TEXT-ALIGN: left;}
UL#navHeaderLinks {PADDING-RIGHT: 0px; DISPLAY: inline; PADDING-LEFT: 0px; LIST-STYLE-POSITION: outside; FLOAT: right; PADDING-BOTTOM: 0px; MARGIN: 8px 0px 10px 0px; PADDING-TOP: 0px; LIST-STYLE-TYPE: none; TEXT-ALIGN: right;}
UL#navHeaderLinks LI {PADDING-RIGHT: 5px; PADDING-LEFT: 5px; FLOAT: left; PADDING-BOTTOM: 0px; MARGIN: 0px; FONT: 1em arial,sans-serif; BORDER-LEFT: silver 1px solid; PADDING-TOP: 0px;}
UL#navHeaderLinks LI.navFirstLink {BORDER-LEFT-STYLE: none;}
UL#navHeaderLinks LI.firstLinkSpanish {PADDING-LEFT: 45px; BACKGROUND: url(../images/shared/nav/nuevo.gif) no-repeat left 4px;}
UL#navHeaderLinks LI IMG.cartInfo {DISPLAY: block; FLOAT: left; WIDTH: 16px; HEIGHT: 16px;}
UL#navHeaderLinks LI.endLink {PADDING-RIGHT: 0px;}

#navLogoNew {LEFT: 10px; POSITION: absolute; TOP: 7px;}
#navLogoNew A {DISPLAY: block;}
#navLogoNew div {float:left;}
#navLogoNew div.navSection {float:left; border-left: 1px solid rgb(153, 153, 153); padding-left:10px; margin-top:30px; height:30px; line-height:30px;}
#navLogoNew div.navSection a {font-size: 23px; color: rgb(85, 85, 85); text-decoration: none;}
#navLogoNew div.navSection a:visited {font-size: 23px; color: rgb(85, 85, 85); text-decoration: none;}

#navSearchFormNew {PADDING-RIGHT: 0px; PADDING-LEFT: 0px; RIGHT: 3px; PADDING-BOTTOM: 0px; PADDING-TOP: 0px; POSITION: absolute; TOP: 42px; TEXT-ALIGN: right;}
#navHeaderSpacer {CLEAR: both; OVERFLOW: hidden; HEIGHT: 8px;}

#navSearchFormNew {PADDING-RIGHT: 0px; PADDING-LEFT: 0px; RIGHT: 3px; PADDING-BOTTOM: 0px; PADDING-TOP: 0px; POSITION: absolute; TOP: 42px; TEXT-ALIGN: right;}
#navSearchFormNew FIELDSET {BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; BORDER-RIGHT-WIDTH: 0px;}
#navSearchFormNew LEGEND {DISPLAY: none;}
#navSearchFormNew BUTTON.redButton {DISPLAY: block; FLOAT: right; MARGIN: 0px 0px 0px 5px;}
#navSearchFormNew INPUT {MARGIN-TOP: 2px; DISPLAY: block; FLOAT: right; WIDTH: 130px;}

button, button span, button span span, button span span span {display:inline;float:left;padding:0;margin:0;border:0;width:auto;height:auto;line-height:21px;cursor:pointer; color:#fff;font-weight:bold;text-decoration:none;font-family:arial;overflow:visible; font-size:12px;}
button {background:transparent;}
button span {padding-left:10px;padding-right:0px;}
button span span {padding-left:0px;padding-right:10px;}
button span span span {padding-left:0px;padding-right:0px;}
button.navinput_primary span {background:url(../images/shared/input_buttons/red_button_left.gif) transparent no-repeat top left;}
button.navinput_primary span span {background:url(../images/shared/input_buttons/red_button_right.gif) transparent no-repeat top right;}
button.navinput_primary span span span {background:url(../images/shared/input_buttons/red_button_1px.gif) #DA0000 repeat-x;}

.navmR5 {margin-right:5px;}
.navfloat_right { float:right; text-align:right;}
.navinputField {font-size:12px; border:solid 1px #999999;}

#navGn_outside {background:transparent url(../images/shared/globalnav/off_red.gif) repeat-x scroll 0 0; min-width:1024px; text-align:center; width:100%;}
#navGn_outside #gn {margin:0 auto;text-align:left; border:solid 0px #000;}


HTML {FONT-SIZE: 100%; MARGIN: 0px; PADDING: 0px;}
BODY {PADDING: 0px; FONT-SIZE: 100%; MARGIN: 0px; BACKGROUND: #fff; FONT: 0.75em arial,sans-serif; COLOR: #000; TEXT-ALIGN: center;}


.gn_clear18 {CLEAR: both; LINE-HEIGHT: 18px; HEIGHT: 18px}
.gn_footerCopyright {PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 4px; PADDING-TOP: 2px; TEXT-ALIGN: left;}
.gn_footerCopyrightPopup {PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 10px; PADDING-TOP: 10px; TEXT-ALIGN: left;}
.gn_footerIcons {PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 30px; PADDING-TOP: 40px; TEXT-ALIGN: left;}
.gn_pipe {COLOR: #999;}
#gn_footer {CLEAR: both; PADDING-RIGHT: 20px; PADDING-LEFT: 20px; FONT-SIZE: 0.9em; BACKGROUND: url(../images/shared/nav/footer.gif) repeat-x; PADDING-BOTTOM: 8px; MARGIN: 0px auto; PADDING-TOP: 10px; TEXT-ALIGN: left; min-width:984px;}
#gn_footer {MARGIN: 0px auto; TEXT-ALIGN: center;}
#gn_footer #gn_footerLinks {MARGIN: 0px auto; WIDTH: 985px; TEXT-ALIGN: left;}
