<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN" "http://java.sun.com/dtd/web-app_2_3.dtd">


<web-app>
   <display-name>aims</display-name>
   <distributable/>

  <filter>
	<filter-name>Agent</filter-name>
    <filter-class>com.sun.identity.agents.filter.AmAgentFilter</filter-class>
</filter>

   <filter>
      <filter-name>ExpiryFilter</filter-name>
      <filter-class>com.netpace.aims.controller.ExpiryFilter</filter-class>
   </filter>
   <filter>
      <filter-name>LoginFilter</filter-name>
      <filter-class>com.netpace.aims.controller.LoginFilter</filter-class>
   </filter>

	<filter-mapping>
	    <filter-name>Agent</filter-name>
	    <url-pattern>/*</url-pattern>
	    <dispatcher>REQUEST</dispatcher>
	    <dispatcher>INCLUDE</dispatcher>
	    <dispatcher>FORWARD</dispatcher>
	    <dispatcher>ERROR</dispatcher>
	</filter-mapping>   
   <filter-mapping>
      <filter-name>ExpiryFilter</filter-name>
      <url-pattern>/js/*</url-pattern>
   </filter-mapping>
   <filter-mapping>
      <filter-name>LoginFilter</filter-name>
      <url-pattern>*.do</url-pattern>
   </filter-mapping>
   <filter-mapping>
      <filter-name>LoginFilter</filter-name>
      <url-pattern>*.jsp</url-pattern>
   </filter-mapping>


   <!-- Struts Action Servlet -->
  <servlet>
    <servlet-name>action</servlet-name>
    <servlet-class>org.apache.struts.action.ActionServlet</servlet-class>
    <init-param>
      <param-name>config</param-name>
      <param-value>/WEB-INF/struts-config.xml</param-value>
    </init-param>
    <init-param>
      <param-name>debug</param-name>
      <param-value>0</param-value>
    </init-param>
    <init-param>
      <param-name>detail</param-name>
      <param-value>0</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>

      <servlet-mapping>
        <servlet-name>action</servlet-name>
        <url-pattern>*.do</url-pattern>
    </servlet-mapping>

  	<mime-mapping>
		<extension>xls</extension>
		<mime-type>application/vnd.ms-excel</mime-type>
	</mime-mapping>
	<mime-mapping>
		<extension>ppt</extension>
		<mime-type>application/vnd.ms-powerpoint</mime-type>
	</mime-mapping>

   	
    <welcome-file-list>
        <welcome-file>/public/homepage.jsp</welcome-file>
    </welcome-file-list>

   

   <taglib>
    <taglib-uri>struts-bean</taglib-uri>
    <taglib-location>/WEB-INF/struts-bean.tld</taglib-location>
 </taglib>

 <taglib>
    <taglib-uri>struts-html</taglib-uri>
    <taglib-location>/WEB-INF/struts-html.tld</taglib-location>
 </taglib>

 <taglib>
    <taglib-uri>struts-logic</taglib-uri>
    <taglib-location>/WEB-INF/struts-logic.tld</taglib-location>
 </taglib>

 <taglib>
    <taglib-uri>struts-template</taglib-uri>
    <taglib-location>/WEB-INF/struts-template.tld</taglib-location>
 </taglib>

  <taglib>
    <taglib-uri>/WEB-INF/tiles.tld</taglib-uri>
    <taglib-location>/WEB-INF/tiles.tld</taglib-location>
  </taglib>

 <taglib>
    <taglib-uri>aims</taglib-uri>
    <taglib-location>/WEB-INF/aims.tld</taglib-location>
 </taglib>
 <!-- For JSTL, Adnan Ahmed (10-Jan-2008) -->
     <taglib>
		<taglib-uri>/WEB-INF/c.tld</taglib-uri>
		<taglib-location>/WEB-INF/c.tld</taglib-location>
	</taglib>
	<taglib>
		<taglib-uri>/WEB-INF/c-rt.tld</taglib-uri>
		<taglib-location>/WEB-INF/c-rt.tld</taglib-location>
	</taglib>
	<taglib>
		<taglib-uri>/WEB-INF/fmt.tld</taglib-uri>
		<taglib-location>/WEB-INF/fmt.tld</taglib-location>
	</taglib>
	<taglib>
		<taglib-uri>/WEB-INF/fmt-rt.tld</taglib-uri>
		<taglib-location>/WEB-INF/fmt-rt.tld</taglib-location>
	</taglib>

 	

</web-app>
